/* CSS file */

.btnWizzardActif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#84D41D, #84D41D;
	borderColor:#D0E09D;
}

.btnWizzardInactif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#D0E09D, #D0E09D;
	borderColor:#84D41D;
}

.btnWizzardDesactivate
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#FFFFFF, #FFFFFF;
	borderColor:#D0E09D;
	
}

.alertesScroll
{
	upArrowSkin: Embed(source="/assets/images/alertesScroll/alertesScrollUpArrow.png");
	downArrowSkin : Embed(source="/assets/images/alertesScroll/alertesScrollDownArrow.png");
	
	trackSkin: Embed(source="/assets/images/alertesScroll/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbUpSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbOverSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbDownSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}

.btnSelected
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#67a93b, #67a93b;
	borderColor:#67a93b;
	color:#FFFFFF;
	fontSize:16;
	textRollOverColor: #FFFFFF;
	borderStyle:none;
	cornerRadius:30;
	textAlign:left;
	paddingLeft:-10;
	icon:Embed(source='/assets/commande/v_selected_60.png');
	
}

.btnNotSelected
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#999999, #999999;
	borderColor:#999999;
	color:#FFFFFF;
	fontSize:16;
	textRollOverColor: #FFFFFF;
	borderStyle:none;
	cornerRadius:30;
	textAlign:left;
	textIndent:20;
	paddingLeft:20;
	icon:Embed(source='/assets/commande/v_notselected_32.png');
}

.btnDetail
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#67a93b, #67a93b;
	borderColor:#D0E09D;
	color:#FFFFFF;
	fontSize:16;
	textRollOverColor: #FFFFFF;
	borderStyle:none;
	cornerRadius:30;
	textAlign:left;
	paddingLeft:-10;
	icon:Embed(source='/assets/commande/v_selected_60.png');
	
}

.btnDispo
{
	fill-alphas : 1.0, 1.0;
	fillColors :#67a93b, #67a93b;
	/*	borderColor:#D0E09D;*/
	disabledColor:#FFFFFF;
	fontSize:10;
	textRollOverColor: #FFFFFF;
	borderStyle:none;
	cornerRadius:0;
}

.btnRupture
{
	fill-alphas : 1.0, 1.0;
	fillColors :#ff0000, #ff0000;
	/*	borderColor:#D0E09D;*/
	disabledColor:#FFFFFF;
	fontSize:10;
	textRollOverColor: #FFFFFF;
	borderStyle:none;
	cornerRadius:0;
}

.btnBientotFin
{
	fill-alphas : 1.0, 1.0;
	fillColors :#f48440, #f48440;
	/*	borderColor:#D0E09D;*/
	disabledColor:#FFFFFF;
	fontSize:10;
	textRollOverColor: #FFFFFF;
	borderStyle:none;
	cornerRadius:0;
}
