<cfcomponent displayname="LockZP001" >

	<cffunction name="action">
	
		<cfargument name="param" type="struct" required="true">
			<!---
			<cfset var service = createObject("component","fr.consotel.api.mdm.partner.public.Zenprise").getPublicZenprise(#param.servermdmuser#,
																															#param.servermdmpwd#,
																															"https://" & #param.servermdm# & "/zdm/services/EveryWanDevice?WSDL")>
			--->
			<cfset var service = createObject("component","fr.consotel.api.mdm.partner.public.Zenprise").getPublicZenprise()>
			<cfset var variable = service.lockDevice(param.serialNumber, param.imei, param.newPinCode, param.waitTime)>
								
	</cffunction>

</cfcomponent>
