<cfcomponent output="false">
	<cffunction access="remote" output="false" name="getIdProfil" returntype="numeric">		   
		<cfset idProfil = SESSION.USER.IDTYPEPROFIL> 		
		<cfreturn idProfil>
     </cffunction> 
</cfcomponent>
