﻿<cfsetting enablecfoutputonly="true">
<cfset newLine=chr(13) & chr(10)>
<cfset dataset=createObject("component","fr.consotel.consoview.util.utils").getExportOrgaCSVbyMode(form.id_perimetre,form.mode) >
<cfoutput>
<cfheader name="Content-Disposition" value="attachment;filename=Orga_#replace(form.libelle_perimetre," ","_")#.csv">
<cfcontent type="text/csv"></cfoutput><cfoutput query="dataset">#data##newLine#</cfoutput>
