@CHARSET "ISO-8859-1";


/*********************************/
/*********POPUP MODAL INDEX*******/
/*********************************/

/*********************************/
.popupIndex,.popupIndex2,.popupIndex3,.popupIndex4,.popupIndex5{width:550px;}

.tdCaptcha{padding-left:7px;}
.inputPadding{padding-left:7px;}
.inputLongueur{width:225px;}

.spanErrorEmail{text-indent:20px;}/*10*/
.spanErrorClassik{display:none;color:red;text-indent:20px;}
.spanErrorCaptcha1{text-indent:60px;}
.spanErrorCaptcha2{display:inline-block;text-indent:80px;}

.inputLogin, .inputTel, .inputCodePerso {
	font-size:11px;
	height:20px;
	padding-left:5px;
	border:1px solid #d1d1d1;
	width:170px;
}

/**************************************/

.tdIndentErrorLogin{text-indent:80px;display:inline-block;color:red;display:none;}
.tdIndentErrorMail{text-indent:40px;display:inline-block;color:red;}
.tdIndentErrorNumMobile{text-indent:40px;display:inline-block;color:red;display:none;}
.tdIndentErrorCivilite{text-indent:45px;display:inline-block;color:red;display:none;}
.tdIndentErrorNom{text-indent:45px;display:inline-block;color:red;display:none;}
.tdIndentErrorPrenom{text-indent:45px;display:inline-block;color:red;display:none;}
.tdIndentErrorCaptcha{text-indent:5px;display:inline-block;color:red;}
.tdIndentErrorLigneRetour{text-indent:45px;display:inline-block;color:red;}



/******************/
/******ACCUEIL*****/
/******************/

/****************DIV MA LIGNE****************/
.divMaLigneCombo{text-indent:20px;height:50px;width:100%;font-weight:bold;font-size:16px;border:solid 0px blue;}
.selectMaLigneCombo{width:200px;}

/****************DIV LAST FACTURE****************/
.divLastFact{float:left;height:auto;width:550px;padding:5px;margin:0;border:1px solid #e4e4e4;border-radius:10px;}

.divTableFacture{width:410px;}

.grapheFacture{margin:0 auto;height:215px;width:98%;text-align:center;border:1px solid #eee;border-radius:10px;}

.intitule{display:inline;}
.cout{display:inline;background-color:#e4e4e4;height:30px;line-height:30px;}

/********************DIV INFOS*******************/
.divInfo{width:430px;}

.tableInfo{font-size:13px;}
.tableInfo_pilotage{font-size:13px;height:162px;}
.tableInfo_mdm{font-size:13px;height:163px;}

.divTableInfo{width:360px;}
.tdInfoIntitule{width:80px;}
.tdInfoValeur{width:230px;}


/*******************DIV TERMINAL******************/
.divTerminal{height:auto;width:430px;padding:5px;border:1px solid #e4e4e4;border-radius:10px;}

.tableTerminal{font-size:11px;}
.tableTerminal tr{height:20px;}
.tdTerminalIntitule{width:180px;}
.tdTerminalValeur{width:80px;}


/*******************DIV LAST ACTION***************/
.divLastAction{width:auto;padding-top:10px;}
.divLastAction_pilotage{
	width:auto;
	height:auto;
	margin-left:4px;
	margin-top:10px;
	padding-top:10px;
	padding:0px;
	border:1px solid #e4e4e4;
	border-radius:10px;
}
.divLastAction_mdm{
	height:auto;
	width:940px;
	padding:5px 5px 15px 5px;
	margin-left:10px;/*auto;*/
	border:1px solid #e4e4e4;
	border-radius:10px;
}

.divTableLastAction_mdm{width:auto;}

.tableLastAction{font-size:11px;}

.divRightLasAction{display:inline; /* correctif inline-block */}
.divRightLasAction_mdm{display:inline; /* correctif inline-block */}
.divRightLasAction_pilotage{
  	display:inline; /* correctif inline-block */
  	margin-top:5px;
  	padding:5px;
}

.divContactGest{display:inline; /* correctif inline-block */}
.divContactGest_pilotage{padding-bottom:10px;}

.ombreee{ /* ajout */
	margin-left: -500px; /*demi-largeur de la div*/
	left:50%;
}


/******************/
/*******PAGES******/
/******************/
.tableContratService th{
	color:white;
	padding-right:3px;
	cursor:pointer;
	background-color:#009FE3;
}


/******************************/
/******PAGE MES FACTURES*******/
/******************************/

.divVerticale_gauche{width:490px; float:left;}
.divVerticale_droite{width:490px; float:left;}

.divTableConsoMensuelle{margin-top:35px;}

.divTableAboMensuel{margin-left:10px;}
.divTableConsoMensuelle{margin-left:10px;}


/******************/
/****MES APPELS****/
/******************/
.divGrise{padding:0 0; background-color:#ebebeb;}


/******************/
/**REEL SOUS MENU**/
/******************/

.red #slatenav ul li a {
    height:32px;/*28px;*/
}


/******************/
/****DATATABLES****/
/******************/

.dataTables_scrollHead{
	overflow: hidden; position: relative; border: 0pt none; width: 100%; padding-right:20px;
}
#tableSortable2_filter.dataTables_filter {
	width: 95%; text-align: right;
}

/******************/
/****SELECTMENU****/
/******************/
.ui-selectmenu {height: 2.45em;}