<cfcomponent name="ListeOperateurStrategy">
	<cffunction name="getListeOperateur" access="public" returntype="query" output="false">	
		<cfset q = querynew("Erreur,Message")>
		<cfset querySetCell(q,"Erreur","Class Abstraite">
		<cfset querySetCell("Message","Erreur ceci est une class abstraite")>
		<cfreturn q>
	</cffunction>
</cfcomponent>