
.grostitres{
	background : transparent;
	color: #191970;
	font : bold 14px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	letter-spacing: 1px;
	border-collapse: collapse;
	text-align: left;
	padding : 5px 5px 5px 5px;
	vertical-align: middle;
}

/* table_resultat */
table.table_resultat 
{
	font-size:100%;
	border:1px solid #CCCC99;
	background : #F4F2EF;
	border-collapse: collapse;
	padding-right: 2;
	padding-left: 2;
}
.table_resultat th{
	background : #EDCEA5;
	border:1px solid #CCCC99;
	color : #7F2114;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	border-collapse: collapse;
}
.table_resultat tfoot{
	background : #EDCEA5;
	color : black;
	font : normal 10px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	border-collapse: collapse;
}
.table_resultat td {
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	border-collapse: collapse;
	border:1px solid #CCCC99;
}
.table_resultat .td_autres {
	background: #DFDFF3;
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	border-collapse: collapse;
	border:1px solid #CCCC99;
}
.table_resultat .td_autres_fonce {
	background: #DFDFF3;
	font : bold 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	border-collapse: collapse;
	border:1px solid #CCCC99;
}
.table_resultat .td_clair {
	background: rgb(241,241,241);
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	border-collapse: collapse;
	border:1px solid #CCCC99;
}
.table_resultat .td_fonce {
	background: #E9E9E9;
	font : bold 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	border-collapse: collapse;
	border:1px solid #CCCC99;
}
.table_resultat .td_rouge {
	background: rgb(255,0,0);
	font : normal 11px EurostileBold,verdana, Georgia, arial,helvetica,serif;
	color:#292820;
	border-collapse: collapse;
}
.table_resultat .td_out
{
	layout-grid: both loose 2px 2px;
	background: #FFE1E1;
	border: none;
	color: rgb(0 , 0, 0);
	font: normal 11px Tahoma,Arial, sans-serif;
	padding: 2px;
	border-collapse: collapse;
}
/* Fin Class table_resultat */
