<cfset obj=createObject("component","fr.consotel.consoview.api.bi.BIPublisher")>
<!--- 
<cfset obj.validateLogin("Administrator","tred78")>

<cfset arrayOfParamNameValue=arrayNew(1)>
<cfset value=structNew()>
<cfset value.name="P_IDCLICHE">
<cfset values=arrayNew(1)>
<cfset values[1]=2081>
<cfset value.values=values>
<cfset arrayOfParamNameValue[1]=value>

<cfset value=structNew()>
<cfset value.name="P_IDNOEUD">
<cfset values=arrayNew(1)>
<cfset values[1]=318484>
<cfset value.values=values>
<cfset arrayOfParamNameValue[2]=value>

<cfset value=structNew()>
<cfset value.name="P_IDEXERCICE">
<cfset values=arrayNew(1)>
<cfset values[1]="2009">
<cfset value.values=values>
<cfset arrayOfParamNameValue[3]=value>
 
<cfset result=obj.scheduleReport("/~consoview/budgetaire/Suivi Budget Global/Suivi Budget Global.xdo","v1","excel","OBIEE/SCHEDULED/",arrayOfParamNameValue,"Administrator","tred78")>

<cfset result=obj.getReportParameters()>
<cfset result1=result["REPORT_PARAMETERS"][1]>
<cfdump var="#result1#">
 --->
<cfset result=obj.getFtpGeneratedFileInfos(707)>
<cfdump var="#result#">
