<cfset obj=createObject("webservice",APPLICATION.BI_SERVICE_URL)>

<cfset result=obj.getFolderContents("/~consoview","consoview","public")>
<cfoutput>
	<cfloop index="i" from="1" to="#arrayLen(result)#">
		<cfset value=result[i]>
		- #value.getAbsolutePath()#<br>
	</cfloop>
</cfoutput>
