
<cfquery name="qGetJobStatus" datasource="DW">
	select job_id, created, last_updated, status, output_id
	from   xmlp_sched_output
	where  job_id=1653
</cfquery>

<cfdump var="#qGetJobStatus#" label="Job Status"><br>

<cfset bipService=createObject("component","fr.consotel.consoview.bi.service.PublisherService")>
<cfset authResult=bipService.authService("ConsoTel")>
<cfset scheduledReportInfos=bipService.getScheduledReportInfos(1653)>

<cfdump var="#scheduledReportInfos#" label="Scheduled Report Infos"><br>
