<cfset reportInfos=structNew()>
<cfset reportInfos["ABSOLUTE_PATH"]="/LABS/QUICKWIN/RationalisationRacine/RationalisationRacine.xdo">
<cfset reportInfos["TEMPLATE"]="default">
<cfset reportInfos["OUTPUT_DIRECTORY"]="/opt/oracle/home/OBIEE/QUICKWIN/LABS/">
<cfset reportInfos["OUTPUT_FILENAME"]="outputFile">
<cfset reportInfos["OUTPUT_FORMAT"]="EXCEL">
<cfset reportInfos["BURST_OPTION"]="TRUE">
<cfset reportInfos["JOB_NAME"]="QWREPORT-JOB">
 
<cfset idGroupeClient=structNew()>
<cfset idGroupeClient["name"]="P_IDGROUPE_CLIENT">
<cfset tmpValues=arrayNew(1)>
<cfset tmpValues[1]="477">
<cfset idGroupeClient["values"]=tmpValues>
<cfset idGroupeClient["multiValuesAllowed"]=FALSE>
<cfset parameterArray=arrayNew(1)>
<cfset parameterArray[1]=idGroupeClient>
<cfset reportInfos["ARRAY_OF_PARAMETERS"]=parameterArray>

<cfdump var="#reportInfos#" label="reportInfos">
<!--- 
<cfset scheduleService=createObject("component","fr.consotel.consoview.bi.report.quickwin.QWReportService")>
<cfset authResult=scheduleService.authLogin("cvuser","consotel09")>
<cfset scheduleResult=scheduleService.scheduleReport(reportInfos,"cvuser","consotel09")>

<cfoutput>
	authResult = #authResult#<br>
	scheduleResult = #scheduleResult#
</cfoutput>
 --->
<!--- 
<cfdump var="#scheduleResult#" label="Schedule Result">
 --->