 
<cfset qwReportRunner=createObject("component","fr.consotel.consoview.bi.report.quickwin.QwReportRunner")>

<!--- 
<cfset qwReportRunner=createObject("webservice","http://sun-dev-cedric/fr/consotel/bi/report/quickwin/QwReportRunner.cfc?wsdl")>
 --->
<cfset deb="2009/01/01">
<cfset fin="2009/03/01">
<!--- 
<cfset result=qwReportRunner.runQwReportForRacine(477,477,deb,fin,deb,fin,deb,fin,1,1,1,0,"Local")>
 --->
<cfset result=qwReportRunner.runQwReportXmlStatus(477,477,deb,fin,deb,fin,deb,fin,1,1,1,0,"Local")>

<cfdump var="#result#" label="RESULT">

<!--- 
<cfset qwInfos=structNew()>
<cfset qwInfos["IDRACINE_MASTER"]=477>
<cfset qwInfos["IDRACINE"]=477>

<cfset qwInfos["SANS_CONSO"]=structNew()>
<cfset tmpStruct=qwInfos["SANS_CONSO"]>
<cfset tmpStruct["DATEDEB"]="2009/01/01">
<cfset tmpStruct["DATEFIN"]="2009/03/01">
<cfset tmpStruct["PRODUIT_ACCES"]=1>
<cfset tmpStruct["MOBILE_INCLUS"]=1>

<cfset qwInfos["DEPLOIEMENT"]=structNew()>
<cfset tmpStruct=qwInfos["DEPLOIEMENT"]>
<cfset tmpStruct["DATEDEB"]="2009/01/01">

<cfset tmpStruct["PERIODICITE"]=1>
<cfset tmpStruct["MONTANT_FT_MIN"]=0>

<cfset qwInfos["RATIO_GPRODUITS"]=structNew()>
<cfset tmpStruct=qwInfos["RATIO_GPRODUITS"]>
<cfset tmpStruct["DATEDEB"]="2009/01/01">
<cfset tmpStruct["DATEFIN"]="2009/03/01">
<cfset tmpStruct["CATEGORIE_GP"]="Local">
<cfset tmpStruct["IDGROUPE_PRODUIT"]=-1>

<cfset qwInfos["ACCUEIL"]=structNew()>
<cfset tmpStruct=qwInfos["ACCUEIL"]>
<cfset tmpStruct["DATEDEB"]="2009/01/01">
<cfset tmpStruct["DATEFIN"]="2009/03/01">
<cfset tmpStruct["CATEGORIE_GP"]="Local">

<cfset qwInfos["PERIMETRE"]=structNew()>
<cfset tmpStruct=qwInfos["PERIMETRE"]>
<cfset tmpStruct["DATEDEB1"]="2009/01/01">
<cfset tmpStruct["DATEFIN1"]="2009/03/01">
<cfset tmpStruct["DATEDEB2"]="2009/01/01">
<cfset tmpStruct["DATEFIN2"]="2009/03/01">
<cfset tmpStruct["DATEDEB3"]="2009/01/01">
<cfset tmpStruct["DATEFIN3"]="2009/03/01">
 
<cfset qwReportService=createObject("component","fr.consotel.consoview.bi.report.quickwin.QWReportService")>
<cfset qwReportInfos=qwReportService.scheduleQWReport(qwInfos)>
<cfdump var="#qwReportInfos#" label="qwReportInfos">
 --->
