<cflog text="downloadpdf">

<!––– establish parameters –––>
<cfparam name="URL.method" default="" />
<cfparam name="URL.name" default="" />

<cfset httpContent = GetHttpRequestData()>
<cfheader name="Content-Disposition" value="#URL.method#; filename=#URL.name#" />
<cfcontent type="application/pdf" variable="#httpContent.content#">

<!--- 
<!--- get the content from the http data --->
<cfset httpContent = GetHttpRequestData()>
<cfset filename = "CarolExport.pdf">
<!--- make sure content was passed in --->
<cfif len(httpContent.content) gt 0>
	<!--- write the content to local pdf --->
	<cfheader name="Content-Disposition" value="attachment;filename=#filename#" />
    <cfcontent type="application/pdf" variable="#httpContent.content#" />
</cfif>	 --->