<cflog text="downloadpdf">
<cfoutput>"downloadpdf"</cfoutput>

<!––– establish parameters –––>
<cfparam name="URL.method" default="" />
<cfparam name="URL.name" default="" />

<cflog text="#URL.method#">

<cfset httpContent = GetHttpRequestData()>
<cfheader name="Content-Disposition" value="#URL.method#; filename=#URL.name#" />
<cfcontent type="application/pdf" variable="#httpContent.content#">
