/* CSS file */
.label{
	color:Black;
	font-style: italic;
	fontWeight: bold;
	textDecoration: underline;
	fontSize: 15;
	fontFamily: Verdana;
	textAlign: center;
	verticalCenter: true;
	horizontalCenter: true;
	
}

.accHeader {
    fillColors: black, #F9FBFB;
    fillAlphas: 1, 1;
    selectedFillColors: #003366,#F9FBFB ;
}

.Panel{
	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
   	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #B1C5C8;
	headerColors: #B1C5C8, #B1C5C8;
	backgroundColor: #F9FBFB;
}

.Button {
	theme-color: #C0C8B1;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 0.75, 0.75, 0.75, 0.75;
   	fillColors: #CCC99E, #CCC99E, #CCC99E, #CCC99E;
   	color: #32322D;
   	borderColor: #32322D;
}

.combo { 
   backgroundAlpha: 1;
   borderColor: #CCC99E;
   cornerRadius: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 0.5, 0.5, 0.5, 0.5;
   fillColors: #CCC99E, #CCC99E, #CCC99E, #CCC99E;
   themeColor: #CCC99E;
}

.datagrid {
	header-height : 14;
	font-size:10;
	cornerRadius: 0;
	borderThickness: 0;
   	dropShadowEnabled: true;
   	roundedBottomCorners: false;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
  	borderThicknessTop: 0;
  	highlightAlphas: 0,0;
  	borderStyle: solid;
  	headerColors: #CCC99E, #CCC99E;  	
   	backgroundColor: #CCC99E;
   	backgroundAlpha: 1;
   	borderColor: #000000;
   	color:#000000;  
   	selectionColor:#bbaa00;   
   	rollOverColor:#CCC99E;	
}

.onglet{
	alpha:0.5;	
	baseline:0; 
	bottom:0 ;
	left:0 ;
	right:0;
	paddingBottom:0; 
	paddingLeft:0 ;
	paddingRight:0 ;
	paddingTop:0;
	headerHeight:0;
	horizontalAlign:center; 
	font-weight: normal;
}
			
			
			
			
			
			
			