﻿<cfsetting  enablecfoutputonly="true" >
<cfset newLine=chr(13) & chr(10)>

<cfset dataset=createObject("component","fr.consotel.consoview.M22.getExport_cfc").getExportOrgaClientCSV(form.ID_CLIENT,form.ID_ORGA,form.MODE) > 
<cfset name=replace(form.LIBELLE_ORGA," ","_","all") />
<cfset codeLangue 	= SESSION.USER.GLOBALIZATION>

<cfheader name="Content-Disposition" value="attachment;filename=Orga_#name#.csv">

<cfif codeLangue EQ "fr_FR">
	<cfcontent type="text/csv"><cfoutput>Compte de facturation;Ligne;Type de ligne;Compte de rattachement;Opérateur;Fonction;Collaborateur#newLine#</cfoutput>
<cfelse>	
	<cfcontent type="text/csv"><cfoutput>Billing Account;Phone Line;Line Type;Sub-account;Carrier;Function;Employee#newLine#</cfoutput>
</cfif>
<cfoutput query="dataset">#COMPTE_FACTURATION#;#SOUS_TETE#;#LIBELLE_TYPE_LIGNE#;#SOUS_COMPTE#;#NOM#;#FONCTION#;#COLLABORATEUR##newLine#</cfoutput>



	