	<cfif IsDefined ('SESSION')>
		<cfif IsDefined ('SESSION.IS_CONNECTED')>
			<cfif SESSION.IS_CONNECTED EQ 0> 		
				<cflocation url="index_mobile.cfm">
			</cfif>
		<cfelse>	 
			<cflocation url="index_mobile.cfm">
		</cfif>	
	<cfelse>	 
		<cflocation url="index_mobile.cfm">
	</cfif>
	
	<?xml version="1.0" encoding="iso-8859-1" ?>
	<!DOCTYPE html PUBLIC
	"-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
	"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
			Bienvenue sur TellCost
		</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<meta name="robots" content="all"/>
		<meta name="classification" content="Services"/>
		<meta name="copyright" content="ConsoTel SAS"/>
		<meta name="author" content="Guillaume RAMOS"/>
		<meta name="language" content="fr"/>
		<meta name="description" content="TELLCOST"/>
		<meta name="keywords" content="TELLCOST"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>

	</head>

<!--- Variables function --->

	<cfset Conseil = "">
	<cfset obj = createobject('component','TellCostService')>
	
<!--- Fin variables function--->

	<FONT face="Arial">
		<div align="left">
			<table border="0">
				 <tr>
					<td valign="middle" width="100%"> 
						<a href="<cfoutput>home.cfm?#SESSION.URLTOKEN#</cfoutput>">
							<< Retour
						</a>
					</td>
					<td valign="middle"> 
						<img src="tellCostImg/ico157.gif">
					</td>
					<td valign="middle"> 
	       				<a href="index_mobile.cfm">
		       				Déconnexion
						</a>
					</td>
				</tr>
				<tr width="100%">
					<th colspan=3 align="center">
						<img src="img/baniere1.png">
					</th>
				</tr>
			</table>
			<br/>
			Votre ligne : <cfoutput>#SESSION.PHONENUMBER#</cfoutput>
			<br/><br/>
			Conseils du mois :
			<br/><br/>
		</div>
				
		<cfset q = obj.zQueryGetConseil(SESSION.IDTHEME,SESSION)> 

		<div align="justify"  width="100%">
			<cfoutput>#SESSION.LONG_THEME#</cfoutput>
		</div>
		
	</FONT>
</html>