<cfcomponent output="false">

	<cffunction name="getById" output="false" access="remote">
		<cfargument name="id" required="true" />
 		<cfreturn createObject("component", "ContartDAO").read(arguments.id)>
	</cffunction>


	<cffunction name="save" output="false" access="remote">
		<cfargument name="obj" required="true" />
 		<cfscript>
			if( obj.getIDCONTRAT() eq 0 )
			{
				return createObject("component", "ContartDAO").create(arguments.obj);
			} else {
				return createObject("component", "ContartDAO").update(arguments.obj);
			}
		</cfscript>
	</cffunction>


	<cffunction name="deleteById" output="false" access="remote">
		<cfargument name="id" required="true" />
		<cfset var obj = getById(arguments.id)>
		<cfset createObject("component", "ContartDAO").delete(obj)>
	</cffunction>



	<cffunction name="getAll" output="false" access="remote" returntype="fr.consotel.consoview.inventaire.contrats.Contrat[]">
		<cfset var qRead="">
		<cfset var obj="">
		<cfset var ret=arrayNew(1)>

		<cfquery name="qRead" datasource="ROCOFFRE">
			select IDCONTRAT
			from OFFRE.CONTRAT
		</cfquery>

		<cfloop query="qRead">
		<cfscript>
			obj = createObject("component", "ContartDAO").read(qRead.IDCONTRAT);
			ArrayAppend(ret, obj);
		</cfscript>
		</cfloop>
		<cfreturn ret>
	</cffunction>



	<cffunction name="getAllAsQuery" output="false" access="remote" returntype="query">
		<cfargument name="fieldlist" default="*" hint="List of columns to be returned in the query.">

		<cfset var qRead="">

		<cfquery name="qRead" datasource="ROCOFFRE">
			select #arguments.fieldList#
			from OFFRE.CONTRAT
		</cfquery>

		<cfreturn qRead>
	</cffunction>

	
	
	


</cfcomponent>