<cfparam name="Form.RootID" default="6396614">
<!---  <cfparam name="Form.OrderID" default=137175> commande --->
<cfparam name="Form.OrderID" default=146284> <!--- suspension etc etc --->



<cfoutput>
	TEST
</cfoutput>
<cfset context = {}>
<cfset context.RacineID = Form.RootID>
<cfset context.OrderID = Form.OrderID>

<!--- LIST,GET,CREATE --->
<cfset factory = new CallFactory('CREATE_ORDER',context)>
<cfset call = factory.createCall() >

<cfset result = {}>
<cfset call.addEventListener(result) >
<cfoutput>#call.getDefinition()#</cfoutput>

<cfif call.execute() eq true >
	<cfset call.notifySucess()>
	<cfelse>
	<cfset call.notifyFailure()>
</cfif>
<br/>
 <cfdump var="#call.operation.result.DATA#"> <br>
<cfset order = deserializeJSON(call.operation.result.DATA)> <br>
<cfdump var="#order#">

 <br>
<cfdump var="#result#">
<cfdump var="#call#">
