<cflog text="===============================================">
<cflog text="TEST EXPORT REXEL sur #CGI.SERVER_NAME#">
<cflog text="===============================================">
<cfobject type="component" name="q" component="v2_exportRexel">
<cfoutput>
SERVER_NAME : #CGI.SERVER_NAME#<br />
#q.v2_main()#
</cfoutput>

