﻿<!--- Gestion de l'upload de document sur le serveur  --->


<!---<cfset STORE_URL="#ExpandPath('/documents/M25/')#" /> --->
	<cfset STORE_URL="/documents/M25/" />
		
<cfset currentDirectory = GetDirectoryFromPath("#STORE_URL##uid#/#doctype#/")/>
<cfif DirectoryExists(currentDirectory)>	
	<!--- le dossier de stokage existe déjà  --->
<cfelse>
    <!--- creation du répertoire  --->
    <cfdirectory action = "create" directory = "#currentDirectory#" >
    
</cfif>
 
<cffile action="upload" filefield="file" destination="#currentDirectory#" nameconflict="OVERWRITE" />

 <!---<CFDirectory action="Create" Directory="#STORE_URL##uid#/#doctype#/"> --->
 <!---<cffile action="upload" filefield="file" destination="#STORE_URL##uid#/#doctype#/" nameconflict="OVERWRITE" /> --->
 <!--- upload et stockage du fichier ---> 
