/* CSS file */

.universParametres{
	backgroundColor: #DEDEDE;
	backgroundGradientColors: #DEDEDE, #DEDEDE;
	themeColor: #909587;
	color: #000000;
}

.panelParametres {   
	cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDistance: 1;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #FFD972;
	headerColors: #FFD972, #FFD972;
	backgroundColor: #F4FDE2;
} 

.InfoPanelParametres { 
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #FFD972, #FFD972;
	backgroundColor: #F4FDE2;
} 

.MainParametresButton {
	theme-color: #FFD972;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #FFD972, #FFD972, #FFD972, #FFD972;
   color: #32322D;
   borderColor: #32322D;
}

.MainParametresSelectedButton {
	theme-color: #FFD972;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #FFD972, #FFD972, #FFD972, #FFD972;
   color: #32322D;
   borderColor: #32322D;
}

.comboParametres { 
   backgroundAlpha: 1;
   borderColor: #FFD972;
   cornerRadius: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 0.5, 0.5, 0.5, 0.5;
   fillColors: #FFD972, #FFD972, #FFD972, #FFD972;
   themeColor: #FFD972;
}

.TextInputParametres { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #FFD972;
   borderThickness: 1;
   cornerRadius: 3;
}

.DateChooserParametres { 
   cornerRadius: 3;
   headerColors: #FFD972, #FFD972;
   backgroundAlpha: 1;
   themeColor: #FFD972;
}

.LinkBarParametres { 
   horizontalGap: 0;
   separatorWidth: 1;
   rollOverColor: #D6C5A0;
   selectionColor: #D6C5A0;
   color: #D6994F;
   textRollOverColor: #32322D;
   textSelectedColor: #32322D;
   disabledColor: #32322D;
}
