<cfcomponent name="RessourcesInventaireNonFacturees">
	<cffunction name="afficher"> 				
		<cfsetting enablecfoutputonly="true" />
		<cfset label="Journal">		
		<cfset qGetGrid=createObject("component","fr.consotel.consoview.util.utils").getQuery("session.dataInventaire.journal")>				
		<cfset NewLine = Chr(13) & Chr(10)>		
		<cfheader name="Content-Disposition" value="inline;filename=rapport.csv">
		<cfcontent type="text/plain">
		<cfoutput>OpÃ©rateur;Produit;Ligne#NewLine#</cfoutput>		
		<cfoutput query="qGetGrid">#TRIM(OPNOM)#;#TRIM(LIBELLE_PRODUIT)#;#TRIM(SOUS_TETE)##NewLine#</cfoutput>	
	</cffunction>	   
</cfcomponent>