<!--- =========================================================================== --->
<cfset userId="developer">
<cfset pwd="tred78">
<cfxml variable="xmlTask">
	<cfoutput>
	<TASK>
		<REPORT_ABSOLUTE_PATH>/~developer/DEV/LABS/API/CONTAINER/TEST-REPORT/TEST-REPORT.xdo</REPORT_ABSOLUTE_PATH>
		<TEMPLATE_ID>VUE</TEMPLATE_ID>
		<OUTPUT_FORMAT>pdf</OUTPUT_FORMAT>
		<REMOTE_FILE/>
		<!-- Est obligatoire pour l'instant -->
		<DELIVERY>
			FTP
		</DELIVERY>
		<JOB/>
		<PARAMETERS>
			<!--
			<P_DATA>DATA2.xml</P_DATA>
			-->
		</PARAMETERS>
	</TASK>
	</cfoutput>
</cfxml>
<!--- =========================================================================== --->
<cfset reportingService=createObject("component","fr.consotel.consoview.api.ibis.publisher.service.reporting.ReportingService")>
<cfset resultObject=reportingService.runReport(xmlTask,userId,pwd)>
<cfcontent type="#resultObject.getReportContentType()#" variable="#resultObject.getReportBytes()#">
<!--- =========================================================================== --->


<!--- =========================================================================== 
<cfset OPERATION_ID="runReport">
<cfset userId="developer">
<cfset pwd="tred78">
<cfset taskUUID=createUUID()>
<cfxml variable="xmlTask">
	<cfoutput>
	<TASK>
		<REPORT_ABSOLUTE_PATH>/~developer/DEV/LABS/API/TEST-REPORT/TEST-REPORT.xdo</REPORT_ABSOLUTE_PATH>
		<TEMPLATE_ID>BDC1</TEMPLATE_ID>
		<OUTPUT_FORMAT>xml</OUTPUT_FORMAT>
		<REMOTE_FILE>Output.xml</REMOTE_FILE>
		<DELIVERY>FTP</DELIVERY>
		<JOB>Rapport Planif</JOB>
		<PARAMETERS>
			<P_IDCOMMANDE>4853</P_IDCOMMANDE>
			<P_IDGESTIONNAIRE>6956</P_IDGESTIONNAIRE>
			<P_RACINE>CONSOTEL</P_RACINE>
			<P_GESTIONNAIRE>API</P_GESTIONNAIRE>
			<P_MAIL>test@hotmail.com</P_MAIL>
		</PARAMETERS>
	</TASK>
	</cfoutput>
</cfxml>
<cfset reportingService=createObject("component","fr.consotel.consoview.api.ibis.publisher.service.reporting.ReportingService")>
<cfif OPERATION_ID EQ "runReport">
	<cfset resultObject=reportingService.runReport(xmlTask,userId,pwd)>
	<cfcontent type="#resultObject.getReportContentType()#" variable="#resultObject.getReportBytes()#">
<cfelseif OPERATION_ID EQ "scheduleReport">
	<cfset resultObject=reportingService.scheduleReport(xmlTask,userId,pwd)>
	<cfoutput>JOB ID : #resultObject#</cfoutput>
</cfif>
=========================================================================== --->