﻿<cfcomponent extends="AbstractConnection3">
	<!---  CREATION DU XML D'ACCESS DES MODULES DU USER / PERIMETRE--->
	<cffunction name="setXMLAccess"  access="package" output="false" returntype="Any" >
			<cflog text="connectioncc3ca101.setXMLAccess - #SESSION.USER.CLIENTACCESSID# - #SESSION.PERIMETRE.ID_GROUPE# - #SESSION.PERIMETRE.ID_PERIMETRE#">
			<cfset result = super.setXMLAccess()>
			<cfreturn result>
	</cffunction>	
</cfcomponent>