/* CSS file */

.btnWizzardActif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#84D41D, #84D41D;
	borderColor:#D0E09D;
}

.btnWizzardInactif
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#D0E09D, #D0E09D;
	borderColor:#84D41D;
}

.btnWizzardDesactivate
{
	fill-alphas : 1.0, 1.0;
	fill-colors :#FFFFFF, #FFFFFF;
	borderColor:#D0E09D;
	
}

.table 
{
	headerColors: #ffffff, #ffffff;
	rollOverColor: #f3f6fb;
	selectionColor: #8eb4e3;
	borderColor:#558ed5;
	borderStyle:solid;
	headerStyleName: "mytableHeaderStyle";
}

.mytableHeaderStyle {
	color: #000000;
	font-weight: bold;
}

.titleBorder
{
	font-size:12;
	font-weight:bold;
	color:#558ed5;
}

.DateGraph
{
	font-size:14;
	font-weight:bold;
}

.borderCont 
{
	borderColor:  #558ed5;
	cornerRadius: 5;
	verticalGap:1;
	horizontalGap:7;		
}    

.vboxMessage
{
}

.alertesScroll
{
	upArrowSkin: Embed(source="/assets/images/alertesScroll/alertesScrollUpArrow.png");
	downArrowSkin : Embed(source="/assets/images/alertesScroll/alertesScrollDownArrow.png");

	trackSkin: Embed(source="/assets/images/alertesScroll/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbUpSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbOverSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbDownSkin: Embed(source="/assets/images/alertesScroll/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}

.M26popUpBox
{
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:15;
	border-thickness:1;
	border-color:#558ed5;
	shadowDistance:0;
}

.M26pageTitle
{
	font-size:15;
	font-weight:bold;
	color:#0B333C;
}

/* ------ DATALERT ------- */
/* CSS file */
/* COMBOBOX -------- */
Application
{
	themeColor:#0177B2;
}
.bluecombo
{
	disabledSkin: Embed(source='/assets/datalert/combo_disabled.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/combo_down.png',scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/combo.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/combo.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	dropDownStyleName:"blueComboDropDown";
	
}

.greycombo
{
	disabledSkin: Embed(source='/assets/datalert/combo_disabled.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/combo_grey_down.png',scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/combo_grey.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/combo_grey.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="80", scaleGridBottom="13");
	dropDownStyleName:"blueComboDropDown";
	
	
}

.blueComboDropDown {	
	font-weight: bold;
	borderAlpha: .5;
	borderThickness: 1;
	cornerRadius: 3;
	selectionColor:#0177B2;
	verticalScrollBarStyleName:"alertesScroll";
}

/* TEXTINPUT -------- */
.input
{	
	borderStyle:solid;
	borderThickness: 1.5;
	cornerRadius: 3;
}

/*  BT-PAGINATION ----------- */
.firstpage
{	
	disabledSkin: Embed(source='/assets/datalert/1stpage_disabled.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/1stpage_down.png',scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/1stpage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/1stpage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
}
.previouspage
{	
	disabledSkin: Embed(source='/assets/datalert/previouspage_disabled.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/previouspage_down.png',scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/previouspage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/previouspage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
}
.choosepage
{
	backgroundColor: #FFFFFF;
	cornerRadius: 2;
	borderThickness: 1;
	dropShadowEnabled: false;
	borderColor: #0177B2;
	
	
	dropDownStyleName:"blueComboDropDown";
	
}

.nextpage
{	
	disabledSkin: Embed(source='/assets/datalert/nextpage_disabled.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/nextpage_down.png',scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/nextpage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/nextpage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
}
.lastpage
{	
	disabledSkin: Embed(source='/assets/datalert/lastpage_disabled.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/lastpage_down.png',scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/lastpage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/lastpage.png', scaleGridLeft="10", scaleGridTop="7", scaleGridRight="12", scaleGridBottom="13");
}
/* BOUTON ------------------ */
.bouton
{	
	disabledSkin: Embed(source='/assets/datalert/bouton_down.png', scaleGridLeft="7", scaleGridTop="7", scaleGridRight="71", scaleGridBottom="13");
	downSkin:Embed(source='/assets/datalert/bouton_down.png',scaleGridLeft="7", scaleGridTop="7", scaleGridRight="71", scaleGridBottom="13");
	overSkin:Embed(source='/assets/datalert/bouton.png', scaleGridLeft="7", scaleGridTop="7", scaleGridRight="71", scaleGridBottom="13");
	upSkin:Embed(source='/assets/datalert/bouton.png', scaleGridLeft="7", scaleGridTop="7", scaleGridRight="71", scaleGridBottom="13");
}

/* CHECKBOX IOS ------------------*/
.isocheckbox
{
	
	selectedUpIcon:Embed(source='/assets/datalert/on.png');
	selectedOverIcon:Embed(source='/assets/datalert/on.png');
	selectedDownIcon:Embed(source='/assets/datalert/on.png');
	selectedDisabledIcon:Embed(source='/assets/datalert/off.png');
	
	upIcon: Embed(source='/assets/datalert/off.png');
	overIcon: Embed(source='/assets/datalert/off.png');
	downIcon: Embed(source='/assets/datalert/off.png');
	disabledIcon:Embed(source='/assets/datalert/off.png');
	
	
}


/* CHECKBOX IOS ------------------*/
.roundedtabnav
{
	
	tabStyleName:"roundedtabheader";
}
.roundedtabheader
{
	cornerRadius:15;
	fontWeight:bold;
	backgroundDisabledColor:#CCCCCC;
	backgroundColor:#FFFFFF;
	tabWidth:120;
}

/* TEXT INPUT ROND ---------------------------*/
.isoinput
{
	borderThickness:2; 
	cornerRadius:30;
	backgroundDisabledColor:#F2F2F2;										 
	borderStyle:solid; 
	fontSize:12; 
	borderColor:#2e75b6;
	fontWeight:bold; 
	textAlign:center; 
	color:#2e75b6;
	focusThickness:0;  
}


