<cfcomponent author="Cedric" displayname="fr.consotel.api.mdm.partner.public.ZenpriseWhitelist" extends="fr.consotel.api.mdm.partner.public.ZenpriseTunnel"
hint="Implémentation Whitelist Service. Une exception provenant du web service est systématiquement levée si une liste qui n'existe pas est utilisée dans ces méthodes">
	<!--- Whitelist Service --->
	<cffunction access="remote" name="getAllApplicationsWhiteList" returntype="String" hint="Retourne un tableau contenant la liste des noms des applications en whitelist définis sur le serveur d'un OS">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfreturn serializeJSON(whitelistService.getAllApplicationsWhiteList(ARGUMENTS["osFamily"]))>
	</cffunction>
	
	<cffunction access="remote" name="getApplicationsInWhitelist" returntype="String" hint="Retourne un tableau contenant la liste des applications d'une whitelist d'un OS<br>
	Chaque élément du tableau contient les propriétés suivantes : identifier, name">
		<cfargument name="applicationsWhitelistName" type="String" required="true" hint="Nom d'une whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfreturn serializeJSON(whitelistService.getApplicationsInWhitelist(ARGUMENTS["applicationsWhitelistName"],ARGUMENTS["osFamily"]))>
	</cffunction>
	
	<cffunction access="remote" name="getDefaultWhitelist" returntype="String" hint="Retourne un tableau contenant la liste des application de la whitelist par défaut d'un OS<br>
	Chaque élément du tableau contient les propriétés suivantes : identifier, name">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfreturn serializeJSON(whitelistService.getDefaultWhitelist(ARGUMENTS["osFamily"]))>
	</cffunction>
	
	<cffunction access="remote" name="addWhiteList" returntype="Void" hint="Ajoute une whitelist d'un OS">
		<cfargument name="name" type="String" required="true" hint="Nom pour la whitelist">
		<cfargument name="description" type="String" required="true" hint="Description à associer à la whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applications" type="Array" required="true" hint="Applications de la whitelist. Chaque élément du tableau est une structure contenant les clé suivantes : identifier, name">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.addWhiteList(ARGUMENTS["name"],ARGUMENTS["description"],ARGUMENTS["osFamily"],ARGUMENTS["applications"])>
	</cffunction>
	
	<cffunction access="remote" name="updateWhiteList" returntype="Void" hint="Met à jour une whitelist d'un OS">
		<cfargument name="name" type="String" required="true" hint="Nom pour la whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="newName" type="String" required="true" hint="Nouveau nom pour la whitelist">
		<cfargument name="newDescription" type="String" required="true" hint="Nouvelle description à associer à la whitelist">
		<cfargument name="applications" type="Array" required="true" hint="Applications de la whitelist. Chaque élément du tableau est une structure contenant les clé suivantes : identifier, name">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.updateWhiteList(ARGUMENTS["name"],ARGUMENTS["osFamily"],ARGUMENTS["newName"],ARGUMENTS["newDescription"],ARGUMENTS["applications"])>
	</cffunction>
	
	<cffunction access="remote" name="updateDefaultWhiteList" returntype="Void" hint="Met à jour la whitelist par défaut d'un OS">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applications" type="Array" required="true" hint="Applications de la whitelist. Chaque élément du tableau est une structure contenant les clé suivantes : identifier, name">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.updateDefaultWhiteList(ARGUMENTS["osFamily"],ARGUMENTS["applications"])>
	</cffunction>
	
	<cffunction access="remote" name="removeWhiteList" returntype="Void" hint="Supprime une whitelist d'un OS">
		<cfargument name="name" type="String" required="true" hint="Nom pour la whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.removeWhiteList(ARGUMENTS["name"],ARGUMENTS["osFamily"])>
	</cffunction>
	
	<cffunction access="remote" name="addApplicationToWhiteList" returntype="Void" hint="Ajoute une application dans une whitelist d'un OS">
		<cfargument name="name" type="String" required="true" hint="Nom pour la whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applicationName" type="String" required="true" hint="Valeur de la propriété name pour l'application">
		<cfargument name="applicationIdentifier" type="String" required="true" hint="Valeur de la propriété identifier pour l'application">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.addApplicationToWhiteList(ARGUMENTS["name"],ARGUMENTS["osFamily"],ARGUMENTS["applicationName"],ARGUMENTS["applicationIdentifier"])>
	</cffunction>
	
	<cffunction access="remote" name="addApplicationToDefaultWhiteList" returntype="Void" hint="Ajoute une application dans la whitelist par défaut de l'OS">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applicationName" type="String" required="true" hint="Valeur de la propriété name pour l'application">
		<cfargument name="applicationIdentifier" type="String" required="true" hint="Valeur de la propriété identifier pour l'application">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.addApplicationToDefaultWhiteList(ARGUMENTS["osFamily"],ARGUMENTS["applicationName"],ARGUMENTS["applicationIdentifier"])>
	</cffunction>
	
	<cffunction access="remote" name="updateApplicationInWhiteList" returntype="Void" hint="Met à jour une application dans une whitelist d'un OS">
		<cfargument name="name" type="String" required="true" hint="Nom pour la whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applicationOldName" type="String" required="true" hint="Valeur actuelle de la propriété name de l'application">
		<cfargument name="applicationNewName" type="String" required="true" hint="Nouvelle valeur pour de la propriété name de l'application">
		<cfargument name="applicationNewIdentifier" type="String" required="true" hint="Nouvelle valeur pour de la propriété identifier de l'application">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.updateApplicationInWhiteList(
			ARGUMENTS["name"],ARGUMENTS["osFamily"],ARGUMENTS["applicationOldName"],ARGUMENTS["applicationNewName"],ARGUMENTS["applicationNewIdentifier"]
		)>
	</cffunction>
	
	<cffunction access="remote" name="updateApplicationInDefaultWhiteList" returntype="Void" hint="Met à jour une application dans la whitelist par défaut d'un OS">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applicationOldName" type="String" required="true" hint="Valeur actuelle de la propriété name de l'application">
		<cfargument name="applicationNewName" type="String" required="true" hint="Nouvelle valeur pour de la propriété name de l'application">
		<cfargument name="applicationNewIdentifier" type="String" required="true" hint="Nouvelle valeur pour de la propriété identifier de l'application">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.updateApplicationInDefaultWhiteList(
			ARGUMENTS["osFamily"],ARGUMENTS["applicationOldName"],ARGUMENTS["applicationNewName"],ARGUMENTS["applicationNewIdentifier"]
		)>
	</cffunction>
	
	<cffunction access="remote" name="removeApplicationFromWhiteList" returntype="Void" hint="Supprime une application d'une whitelist d'un OS">
		<cfargument name="name" type="String" required="true" hint="Nom pour la whitelist">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applicationName" type="String" required="true" hint="Valeur de la propriété name de l'application">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.removeApplicationFromWhiteList(ARGUMENTS["name"],ARGUMENTS["osFamily"],ARGUMENTS["applicationName"])>
	</cffunction>
	
	<cffunction access="remote" name="removeApplicationFromDefaultWhiteList" returntype="Void" hint="Supprime une application de la whitelist par défaut d'un OS">
		<cfargument name="osFamily" type="String" required="true" hint="OS Cible (e.g : WINDOWS, ANDROID, iOS)">
		<cfargument name="applicationName" type="String" required="true" hint="Valeur de la propriété name de l'application">
		<cfset var whitelistService=getManagementService().getWhitelistService()>
		<cfset whitelistService.removeApplicationFromDefaultWhiteList(ARGUMENTS["osFamily"],ARGUMENTS["applicationName"])>
	</cffunction>
</cfcomponent>