<cftry>
	<cfinvoke
		method="validateLogin"
		returnvariable="val"
		webservice="http://db-5.consotel.fr:7012/xmlpserver/services/PublicReportService?WSDL">

   <cfinvokeargument name="userID" value="consoview">
   <cfinvokeargument name="password" value="public">
</cfinvoke>	
		 
	<cfcatch type="any">
		<cfset val = "ko">
	</cfcatch>		
</cftry>
<cfoutput>#val#</cfoutput>