<cfset obj=createObject("component","extranetCompletelFactures")>

<cfset thread = CreateObject("java", "java.lang.Thread")>

<cfquery datasource="ROCOFFRE" name="qListe">
	SELECT login_extranet le, password pw, compte co
	FROM offre.logins_extranet t
	WHERE  t.telecharger=1
	AND t.operateurid=32
	GROUP BY t.login_extranet, t.password,t.compte
	ORDER BY t.compte,t.login_extranet
</cfquery>


<cfoutput>
Page de dump de l'import Completel<br>
</cfoutput>

<!--- <cfdump var="#qListe#">
<cfabort showerror="fin"> --->

<cfflush interval="10">
<cfloop query="qListe">
		<cfset t=obj.getCompletel(qListe.le,qListe.pw,qListe.co)>
		<cfset thread.sleep(500)>
</cfloop>

