/* CSS file */
/* CSS file */

global
{
	color: #000000;
	cornerRadius:0;
	font-family:Arial;
	
	
}

TitleWindow {

    background-image: Embed("icones/conso_fond.jpg");
	background-size: "100%";
	/*cornerRadius: 0;
	border-thickness:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	background-color:#FFFFFF;	*/		
	
	
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;
	
	/*background-color:#FFFFFF;
	color : #124332;
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:6;
	border-thickness:1;
	border-color:#558ed5;
	header-colors : #558ed5, #558ed5;
	header-height:25;
	title-style-name : "title";*/
	
}

Alert{
	
	background-color:#FFFFFF;
	color : #124332;
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:6;
	border-thickness:1;
	border-color:#558ed5;
	header-colors : #558ed5, #558ed5;
	header-height:25;
	title-style-name : "title";
	
	/*color : #124332;
	background-color: #ffffff;
	header-colors : #558ed5, #558ed5;
	header-height:10;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :6;
	border-style :solid;
	border-thickness: 1;
	border-color : #60B23B;
	footer-colors : #243322, #ffffff;
	title-style-name : "title";*/
}



.title{
	font-family :Verdana;
	font-size :10;
	font-weight :bold;
	color :#ffffff;
}
ComboBox
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
NumericStepper
{
	borderThickness: 1;
	cornerRadius: 0;
	borderStyle: inset;
}
DateChooser
{
	cornerRadius: 0;
	headerColors: #FFFFFF, #FFFFFF;
	selectionColor: #DFDFDF;
	rollOverColor: #E6E6E6;
}

DataGrid 
{
	headerColors: #558ed5, #558ed5;	
	rollOverColor: #558ed5;
	selectionColor: #558ed5;
	headerStyleName: "mydataGridHeaderStyle";
	
}
.grid 
{
	headerColors: #558ed5, #558ed5;	
	rollOverColor: #558ed5;
	selectionColor: #558ed5;
	headerStyleName: "mydataGridHeaderStyle";
	
}

.mydataGridHeaderStyle {
	
	rollOverColor: #558ed5;
	selectionColor: #558ed5;
	/*color: #f8fbfc;
	roll-over-color: #558ed5;
	background-color: #f8fbfc;
	font-weight: bold;*/
}

/*DataGrid
{
	headerColors: #FFFFFF, #FFFFFF;
	alternatingItemColors: #FFFFFF, #FFFFFF;
	horizontalGridLines: true;
	horizontalGridLineColor: #CCCCCC;
	rollOverColor: #DDDDDD;
	selectionColor: #BBBBBB;	
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
}*/

VScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}
HScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}

Application
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	background-image: Embed("icones/conso_fond.jpg") ;
	/*background-size: "100%";*/
}
Accordion
{
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #000000;
	headerStyleName: accordionHeader;
	backgroundColor: #FFFFFF;
	themeColor: #D5D5D5;
	cornerRadius:0;
}
Button
{
	themeColor: #D5D5D5;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
Canvas
{    
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}

VBox {
	
	background-alpha:0.7;
}

HBox {
	
	background-alpha:0.7;
}



.accordionHeader
{
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}
.dataGridVerticalScrollBar
{
	cornerRadius: 0;
	thumbOffset: 1;
	trackColors: #FFFFFF, #FFFFFF;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}

.bgImg
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	background-image: Embed("icones/conso_fond.jpg")  ;
	background-size: "75%";
	
	
	
}

.titleWin1
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	background-size: "100%";		 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;
	
	
	
}
.lbStrong
{
	color: #558ed5;
	font-weight: bold;
	font-size:11;
	
	
}

.lbStrong2
{
	color: #558ed5;
	font-weight: bold;
	font-size:12;
	
	
}

.colorTitle
{
	font-weight:bold ;
	color: #0E8A1E;
	font-size : 13 ;
	
}


.verticalTitle {
	embedFonts: true;
	fontFamily: Arial;
	fontWeight: normal;
	color: #000000;
}



