/*============================================================================
* Les définitions des polices sont dans la classe :
* consoview.utils.styles.ConsoViewStyleManager

//couleur principale Consotel #558ed5
//couleur selection Consotel #83A4C4
//couleur rollOver Consotel #CFDAE6

//Degrader de gris #DFDFDF #CCCCCC
//Fond gris #EAEAEA
============================================================================*/	
		
/*===========================================================================
			Bandeau/Marque Blanches
=============================================================================*/		
.PanelGlobal 
{ 
	corner-radius:0;
   	
}
/*===============================================================================*/
/*===============================================================================*/

.tite {
	
	background-image: Embed("../assets/icones/conso_fond.jpg");
	background-size: "100%";

	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;

}

.square {
	corner-radius:0;
	font-family: Arial;
	font-weight: bold;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}

.square2 {
	corner-radius:0;
	font-family: Arial;	
	font-weight: bold;
	fillAlphas: 1.0, 1.0;
	
	fillColors: #FFFFFF, #FFFFFF;
}



.alert1{
	
	background-color:#FFFFFF;
	color : #124332;
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:6;
	border-thickness:1;
	border-color:#558ed5;
	header-colors : #558ed5, #558ed5;
	header-height:25;
	title-style-name : "title";
	
	
}

.globo{
	
	background-color:#FFFFFF;
	color : #124332;
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:0;
	border-thickness:0;
	border-color:#558ed5;
	header-colors : #558ed5, #558ed5;
	header-height:0;
	title-style-name : "title";
	
	
}



.title{
	font-family :Verdana;
	font-size :10;
	font-weight :bold;
	color :#ffffff;
}


.grid 
{
	headerColors: #558ed5, #558ed5;	
	rollOverColor: #558ed5;
	selectionColor: #558ed5;
	headerStyleName: "mydataGridHeaderStyle";
	font-family: Arial;
	font-weight: normal;
	
}




.mydataGridHeaderStyle {
   	color: #ffffff;
   	font-weight: bold;
}

.pageTitle
{
	font-size:16;
	font-weight:bold;
	color:#558ed5;
}

.sectionBox
{
	vertical-align:middle;
	corner-radius:5; 
	background-color:#558ed5;
	border-style: solid;
	border-color:#558ed5;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14;
}

.gridBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#333333;
	border-style:solid;
	corner-radius:5;
}

.popUpBox
{
	background-image: Embed("../assets/icones/conso_fond.jpg");
	background-size: "100%";
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;
	

}

.menuDisabledColor 
{
	disabled-color: #558ED5;
}

.filtreBox 
{
	background-color: #F3F6FB;
}

.textNormal 
{
	fontFamily: Verdana;
	fontSize: 10;
	fontWeight: normal;
	color: #000000;
}
 

.title{
	font-family :Verdana;
	font-size :10;
	font-weight :bold;
	color :#ffffff;
}

.btnActif
{
	borderColor:#558ed5;
	color:#558ed5;
}
.btnInactif
{
	borderColor:#000000;
	color:#000000;
}
	
.colorPrincipale
{}

.colorSelected
{}

.colorRollOver
{}

/*VScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}
HScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}

Button
{
	themeColor: #D5D5D5;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
Canvas
{    
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}

VBox {
	
	background-alpha:0.7;
}

HBox {
	
	background-alpha:0.7;
}*/

.dataGridVerticalScrollBar
{
	cornerRadius: 0;
	thumbOffset: 1;
	trackColors: #FFFFFF, #FFFFFF;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}

.bgImg
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	background-image: Embed("../assets/icones/conso_fond.jpg");
	background-size: "75%";
	
	
	
}

.titleWin1
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	background-size: "100%";		 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;
	
	
	
}
.lbStrong
{
	color: #558ed5;
	font-weight: bold;
	font-size:11;
	
	
}

.lbStrong2
{
	color: #558ed5;
	font-weight: bold;
	font-size:12;
	
	
}

.colorTitle
{
	font-weight:bold ;
	color: #0E8A1E;
	font-size : 13 ;
	
}


.verticalTitle {
	embedFonts: true;
	fontFamily: Arial;
	fontWeight: normal;
	color: #000000;
}

.GCpopUpBox
{
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:15;
	border-thickness:1;
	border-color:#558ed5;
	shadowDistance:0;
}

.GCpageTitle
{
	font-size:15;
	font-weight:bold;
	color:#0B333C;
}



