<cfcomponent output="false" alias="fr.consotel.consoprod.intranet.cataloguepublic.Societe">
	<!---
		 These are properties that are exposed by this CFC object.
		 These property definitions are used when calling this CFC as a web services, 
		 passed back to a flash movie, or when generating documentation

		 NOTE: these cfproperty tags do not set any default property values.
	--->
	<cfproperty name="groupeId" type="numeric" default="0">
	<cfproperty name="id" type="numeric" default="0">
	<cfproperty name="raisonSociale" type="string" default="">

	<cfscript>
		//Initialize the CFC with the default properties values.
		variables.groupeId = 0;
		variables.id = 0;
		variables.raisonSociale = "";
	</cfscript>

	<cffunction name="init" output="false" returntype="Societe">
		<cfreturn this>
	</cffunction>
	<cffunction name="getGroupeId" output="false" access="public" returntype="any">
		<cfreturn variables.GroupeId>
	</cffunction>

	<cffunction name="setGroupeId" output="false" access="public" returntype="void">
		<cfargument name="val" required="true">
		<cfif (IsNumeric(arguments.val)) OR (arguments.val EQ "")>
			<cfset variables.GroupeId = arguments.val>
		<cfelse>
			<cfthrow message="'#arguments.val#' is not a valid numeric"/>
		</cfif>
	</cffunction>

	<cffunction name="getId" output="false" access="public" returntype="any">
		<cfreturn variables.Id>
	</cffunction>

	<cffunction name="setId" output="false" access="public" returntype="void">
		<cfargument name="val" required="true">
		<cfif (IsNumeric(arguments.val)) OR (arguments.val EQ "")>
			<cfset variables.Id = arguments.val>
		<cfelse>
			<cfthrow message="'#arguments.val#' is not a valid numeric"/>
		</cfif>
	</cffunction>

	<cffunction name="getRaisonSociale" output="false" access="public" returntype="any">
		<cfreturn variables.RaisonSociale>
	</cffunction>

	<cffunction name="setRaisonSociale" output="false" access="public" returntype="void">
		<cfargument name="val" required="true">
		<cfset variables.RaisonSociale = arguments.val>
	</cffunction>
	
	<cffunction name="setProprietes" output="false" access="public" returntype="void">
		<cfargument name="proprietes" type="any" required="true">
		
		<cfscript>
		//Initialize the CFC with the properties values.
			setGroupeId(proprietes.IDGROUPE_MAITRE);
			setId(proprietes.IDGROUPE_CLIENT);
			setRaisonSociale(proprietes.LIBELLE_GROUPE_CLIENT);			
		</cfscript>
	</cffunction>


</cfcomponent>