<cfset rootPath=expandPath("/")>
<cfcontent type="application/x-unknown">
<cfheader name="Content-Disposition" value="attachment;filename=#FILE_NAME#">	
<cfcontent type="application/octet-stream" file="#rootPath#/fr/consotel/consoview/inventaire/equipement/flotte/csv/#FILE_NAME#" deletefile="true">
