.fontMenu , .fontSassWedo,.fontReportHelp
{
	color:#ffffff;
	fontSize:11;
}

.fontSassWedo
{
	fontWeight:bold;
}

.power
{
	fontSize:9;
	color:#ffffff;
}

@font-face{
	src: url("/assets/font/CALIBRI.TTF");
	fontFamily: Base03;
}

.labelMenu
{
	color:#737373;/*#828183;*/
	embedFonts: true;
	fontFamily: Base03;	/** on peux mettre Calibri */
	fontSize: 12;
	cornerRadius: 0;
	textRollOverColor: #737373;
	textSelectedColor:#737373;
}

.MenuHeader
{
	textSelectedColor: #ffffff;
	textRollOverColor: #ffffff;
	roll-over-color: #3996e4;
	selection-color: #3996e4;
	background-color: #358dd7;
	borderStyle: solid;
	borderColor: #358dd7;
	borderThickness:3;
	color:#ffffff;
	shadowColor:#737373;
	fontFamily: Base03;	
	fontSize:12;
}

.buttonChange
{
	disabledSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="buttonBlue");
	downSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="buttonBlue");
	overSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="buttonBlue");
	upSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="buttonBlue");
	color:#ffffff;
	fontSize:10;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
	borderStyle:none;
}

.buttonChargerRapport
{
	disabledSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="report");
	downSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="report");
	overSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="report");
	upSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="report");
	borderStyle:none;
}

.buttonHelp
{
	disabledSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="help");
	downSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="help");
	overSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="help");
	upSkin: Embed(source="/assets/menu/HomeGraphical.swf", symbol="help");
	borderStyle:none;
}
