@font-face
{
	fontFamily: "Trebuchet MS";
	fontWeight: bold;
	fontStyle: normal;
	src: local("Trebuchet MS");
}

Application 
{
	backgroundColor: #b0b0b0;
	backgroundGradientColors: #b0b0b0, #b0b0b0;	
	backgroundGradientAlphas: 0, 0;	
	themeColor: #b4131d;
	color: #353535;
	font-family: Trebuchet MS, Arial, sans-serif;
	borderColor: #808080;
}


HRule, VRule
{	stroke-color:#B4131D;
}

ComboBox
{
	corner-radius:0;
	theme-color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

Button
{
	corner-radius:0;
	theme-color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}



DataGrid 
{
	theme-color:#B4131D; 
	header-style-name : "DataGridTitle";
}

Panel 
{
	borderStyle: solid;
	borderAlpha: 0.5;
	borderThickness: 0;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	backgroundColor: #F5F5F5;	
	background-gradient-colors: #F5F5F5,#B0B0B0;  
	background-gradient-alphas: 1,1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	dropShadowColor: #000000;
	titleStyleName: "PanelTitle";
	
}

TitleWindow 
{
	borderStyle: solid;
	borderAlpha: 1;	
	border-color: #000000;
	roundedBottomCorners: true;
	border-thickness-top: 0;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #F5F5F5;	
	titleStyleName: "PanelTitle";
}



ToolTip
{
	backgroundColor: #F5F5F5;
	color: #464343;
	fontWeight: bold;
	fontSize: 10;
	fontFamily: "Trebuchet MS , Arial";
	
}
Alert 
{
	borderStyle: solid;
	borderAlpha: 0.5;
	borderThickness: 0;
	borderThicknessLeft: 19;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 10;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #ffffff;
	shadowDistance: 2;
	shadowDirection: center;
	dropShadowColor: #000000;
	
	color: #353535;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
	
	title-style-name: "PanelTitle";
}

.PanelTitle 
{
	letterSpacing: 0;
	color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

.DataGridTitle 
{
	letterSpacing: 0;
	color: #353535;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

.PanelGlobal 
{ 
	headerHeight: 50;
	headerColors: #F5F5F5, #B0B0B0;
	backgroundAlpha: 1;
	backgroundColor: #B0B0B0;
	dropShadowEnabled: false;	
	title-background-skin : Embed(source='..//assets/marquesblanches/v3/SFR_bandeau_app.jpg',mimeType='image/jpg',scaleGridTop="1", scaleGridBottom="49",
		scaleGridLeft="1", scaleGridRight="999");
}

.FlatDataGridContent 
{				
	color: #000033;	
	font-size: 10;	     
	horizontalGridLines: true;
	horizontalGridLineColor: #cccccc;
	border-color: #000000;
	border-style: solid;  
	separator-width:0;
	vertical-grid-line-color : #534e42;  
	paddingBottom: 0;
	paddingTop: 0; 	    
	textSelectedColor: #2b333c;   
	leading: 0;
	roll-over-color:#EFFFFF;
	verticalAlign: top;	
}

.Explication 
{
	background-alpha:1;
	background-color: #B0B0B0;
	font-size: 14;
	font-weight: bold;
	color: #F5F5F5;
	border-style:solid;
	corner-radius: 10;
	padding-bottom:10;
	padding-top:10;
	padding-left:10;
	padding-right:10;
}

.RedBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#B4131D;
	border-style:solid;
	corner-radius:5;
}

.GrayBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#353535;
	border-style:solid;
	corner-radius:5;
}

.ModuleBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#F5F5F5;
	background-color:#F5F5F5;
	border-style:solid;
	
}

/* ========== Compatibilité CV4 ==================*/

.pageTitle
{
	font-size:16;
	font-weight:bold;
	color:#B4131D;
}

.sectionBox
{
	vertical-align:middle;
	corner-radius:5; 
	background-color:#B4131D;
	border-style: solid;
	border-color:#B4131D;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14;
}

.gridBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#B4131D;
	border-style:solid;
	corner-radius:5;
}

.popUpBox
{	
	
}


/* ========== Page de LOGIN ==================*/
.RedTitle 
{
	color:#B4131D;
	font-size:16;
	font-weight:bold;
}

.RedTitle2 
{
	color:#B4131D;
	font-size:12;
	font-weight:bold;
}


.RedButton
{
	cornerRadius: 10;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #B4131D,#810F01, #810F01, #B4131D;
	color: #ffffff;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	borderColor: #B4131D;
	themeColor: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
	disabledColor: #FFFFFF;
	upIcon: Embed(source="..//assets/btnIco.png");	
	overIcon: Embed(source="..//assets/btnIco.png");
}

.LoginText
{
	font-family: Verdana,Geneva,sans-serif;
	font-size:12;
	font-weight:bold;
	color:#A4A4A4;
}

.lblTitre
{
	font-family: Trebuchet MS, Arial;
	font-size:18;
	color:#A4A4A4;	
}
.normalText
{
	font-family: Verdana,Geneva,sans-serif;
	font-size:11;
	font-weight: normal;
	color:#353535;
	
}


/*==================================================================*/
/* CSS Accueil et menu pilotage */
.AccueilIHM{
	padding-left:5;
	padding-right:5;
	padding-top:5;
	padding-bottom: 5;
	background-color: #999999;
	background-alpha:1;
}
.MainMenuIHM{
	border-style: none;
	border-thickness:0;
	topLeftRadius: 0;
	topRightRadius: 0;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	colorsConfiguration: 1;
	fillColors: #999999;
	fillAlphas: 1;
	vertical-gap:3;
}
.TitreBloc{
	colorsConfiguration: 2;
	fillColors: #C5C5C5, #FFFFFF;
	fillAlphas:  1,1;
	gradientRatio: 0,157;
	angle: 90;
	topLeftRadius: 10;
	topRightRadius: 10;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	padding-left:1;
	padding-right:1;
}
.LabelTitreBloc{
	color: #D82F2F;
	font-weight: bold;
}

.MainContentBloc{
	border-style: solid;
	border-thickness:1;
	border-color:#FFFFFF;
	bottomLeftRadius: 10;
	bottomRightRadius: 10;
	topLeftRadius: 0;
	topRightRadius: 0;
	background-color: #FFFFFF;
	background-alpha:1;
	horizontal-align:center;
}
.ItemRendererAccueilBLoc{
	border-style: none;
	border-thickness:0;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	topLeftRadius: 0;
	topRightRadius: 0;
	colorsConfiguration: 1;
	fillColors: #FFFFFF;
	fillAlphas: 1;
}
.ItemRendererTitle
{
	border-style: none;
	border-thickness:0;
	bottomLeftRadius: 0;
	bottomRightRadius: 0;
	topLeftRadius: 0;
	topRightRadius: 0;
	background-alpha:1;
	background-color: #FFFFFF;
}
.ItemRendererTileListComposant {
	colorsConfiguration: 1;
	fillColors: #FFFFFF;
	fillAlphas: 1;
	border-style: none;
}
.ItemRenderertileList{
	colorsConfiguration: 4;
	fillColors: #A1A1A1, #FFFFFF, #FFFFFF, #A1A1A1;
	fillAlphas:  1,1,1,1;
	gradientRatio: 0,42,216,255;
	angle: 90;
	cornerRadius: 10;
	vertical-align: middle;
	horizontal-align: center;
	border-style: solid;
	border-thickness: 1;
	border-color:#000000;
}

.BoxIndicateur{
	horizontal-align: center;
	horizontal-gap: 0;
}
.LabelIndicateur{
	font-weight:bold;
}
/*=====================================================================*/
/* CSS Menu PFGP */
/*=====================================================================*/
/* CSS file */
.defaultCreateMenuPFGPStyle{
	colorsConfiguration: 1;
	fillColors: #999999;
	fillAlphas:  1;
	borderThickness: 0;
	borderStyle: none;
	padding-bottom:1;
	padding-left:1;
	padding-right:1;
	padding-top:0;
}

.defaultMenuPFGPStyle{
	border-style: none;
	border-thickness: 0;
	background-alpha: 0;
	fill-alphas: 1,1;
	vertical-gap: 0;
}
.Menu1PFGPStyle{
	colorsConfiguration: 2;
	fillColors: #8e8e8e, #F5F5F5;
	fillAlphas:  1,1;
	gradientRatio: 0,157;
	angle: 90;
	borderThickness: 1;
	horizontalGap: 0;
	verticalGap: 0;
	borderThickness: 0;
	borderStyle: solid;
	fontWeight: bold;
	color: #000000;
	vertical-align: middle;
	horizontal-align: left;
}
.Menu2PFGPStyle{
	strokeColor: #CA0500;
	strokeWidth: 4;
	shadowColor: #CA0500;
	borderThickness: 0;
	backgroundColor: #CA0500;
	colorsConfiguration: 2;
	positioning: percentage;
	fillColors: #b2071b, #b2071b;
	fillAlphas:  1,1;
	gradientRatio: 0,255;
	angle: 90;
	focalPointRatio: 0.13;
	cornerRadius: 10;
	border-thickness: 0;
	horizontal-gap: 0;
	vertical-gap: 0;
	border-style: none;
}
.boutonmenu1Default{
	color: #4E4E4E;
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:2;
}
.boutonmenu1click{
	backgroundColor: #b2071b;
	color: #FFFFFF;
	background-alpha: 1;
}
.SeparatorMenu1{
	colorsConfiguration: 2;
	fillColors: #8E8E8E, #F5F5F5;
	fillAlphas:  1,1;
	gradientRatio: 0,255;
	angle: -90;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	border-style: none;
	border-thickness: 0;
}
.boutonmenu2Default{
	background-color: #b2071b;
	color: #FFFFFF;
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:2;
}
.boutonmenu2click{
	backgroundColor: #d31e05;
	background-alpha: 1;
	color: #FFFFFF;
}
.boxPerimetre{
	color: #000000;
	colorsConfiguration: 1;
	fillColors: #999999;
	fillAlphas:  1;
	border-style:none;
	border-thickness:0;
}
.LinkButtonChangerPerimetre
{
	font-weight:bold;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}