TextArea,TextInput,Text,CheckBox,LinkButton
{
	theme-color: #B4131D;
}

HRule, VRule
{	stroke-color:#B4131D;
}

ComboBox
{
	corner-radius:0;
	theme-color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

Button
{
	corner-radius:0;
	theme-color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

DataGrid 
{
	theme-color:#B4131D; 
	header-style-name : "DataGridTitle";
}

Panel 
{
	borderStyle: solid;
	borderAlpha: 0.5;
	borderThickness: 0;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #b0b0b0;
	shadowDistance: 2;
	shadowDirection: center;
	dropShadowColor: #000000;
	titleStyleName: "PanelTitle";
}

TitleWindow 
{
	borderStyle: solid;
	borderAlpha: 1;
	border-thickness-top: 10;
	border-color: #000000;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #F5F5F5;
	shadowDistance: 2;
	shadowDirection: center;
	dropShadowColor: #000000;
	titleStyleName: "PanelTitle";
}

Alert 
{
	borderStyle: solid;
	borderAlpha: 0.5;
	borderThickness: 0;
	borderThicknessLeft: 19;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 10;
	roundedBottomCorners: true;
	cornerRadius: 12;
	headerHeight: 22;
	backgroundAlpha: 1;
	highlightAlphas: 0, 0.22;
	headerColors: #ffffff, #b0b0b0;
	footerColors: #ffffff, #b0b0b0;
	backgroundColor: #ffffff;
	shadowDistance: 2;
	shadowDirection: center;
	dropShadowColor: #000000;
	
	color: #353535;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
	
	title-style-name: "PanelTitle";
}

.PanelTitle 
{
	letterSpacing: 0;
	color: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}

.DataGridTitle 
{
	letterSpacing: 0;
	color: #353535;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
}


/*================================*/
.RedTitle 
{
	color:#B4131D;
	font-size:16;
	font-weight:bold;
}

.RedTitle2 
{
	color:#B4131D;
	font-size:12;
	font-weight:bold;
}


.RedButton
{
	cornerRadius: 10;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #B4131D,#810F01, #810F01, #B4131D;
	color: #ffffff;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	borderColor: #B4131D;
	themeColor: #B4131D;
	fontFamily: Trebuchet MS, Arial, sans-serif;
	fontSize: 11;
	fontWeight: bold;
	disabledColor: #FFFFFF;
	upIcon: Embed(source="/css/btnIco.png");	
	overIcon: Embed(source="/css/btnIco.png");
}


.Explication 
{
	background-alpha:1;
	background-color: #B0B0B0;
	font-size: 14;
	font-weight: bold;
	color: #F5F5F5;
	border-style:solid;
	corner-radius: 10;
	padding-bottom:10;
	padding-top:10;
	padding-left:10;
	padding-right:10;
}

.RedBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#B4131D;
	border-style:solid;
	corner-radius:5;
}

.GrayBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#353535;
	border-style:solid;
	corner-radius:5;
}

.LoginText
{
	font-family: Verdana,Geneva,sans-serif;
	font-size:12;
	font-weight:bold;
	color:#A4A4A4;
}

.lblTitre
{
	font-family: Trebuchet MS, Arial;
	font-size:18;
	color:#A4A4A4;	
}
.normalText
{
	font-family: Verdana,Geneva,sans-serif;
	font-size:11;
	font-weight: normal;
	color:#353535;
	
}

.loginti
{	
	color:#353535;
}