<cftry>
<cflog text="===============================================">
<cflog text="TEST EXPORT REXEL sur #CGI.SERVER_NAME#">
<cflog text="===============================================">
<cfobject type="component" name="q" component="v2_exportRexel">







<cftry>
	<cfoutput>
	SERVER_NAME : #CGI.SERVER_NAME#<br />
	#q.main()#
	</cfoutput>
	<cfcatch type="any"><cfdump var="#cfcatch#"></cfcatch>
	</cftry>>
	
<cfcatch type="Any">
		<cfmail from="monitoring@saaswedo.com" to="djalel.meftouh@saaswedo.com" cc="production@consotel.com,monitoring@saaswedo.com" subject="[Erreur Export ERP] - REXEL - Traitement KO"
						server="mail-cv.consotel.fr" port="25" type="html">

				#cfcatch.message#<br> <br>
				
			</cfmail>
			

	</cfcatch>
</cftry>
