﻿

 --->
<cfset u = new fr.saaswedo.api.order.util.QueryToStruct()>
<cfset p = new GetSonarOrder()  >
<!---
<cfset p = new linkorder()  >
--->
<cfset ps = {}>
<!---
<cfset res = p.execute(137175)> <!--- commande --->
--->
<cfset res = p.execute(146284)> <!--- suspension etc etc --->

<cfloop collection="#res#" item="item" >
	<cfdump var="#item#">
	<cfdump var="#res[item]#">

	<cfif isquery(res[item])>
    ok
		<cfset ps[item]= u.execute(res[item]) >
	</cfif>
</cfloop>

<<cfdump var = "#ps#" >
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><cfdump var="#ps.COMMANDE#"></td>
			<td><cfdump var="#ps.DEVICE#"></td>
			<td><cfdump var="#ps.ACCESSORY#"></td>
		</tr>
		<tr>
			<td><cfdump var="#ps.ARTICLE#"></td>
			<td><cfdump var="#ps.PLAN#"></td>

			<td></td>
		</tr>

	</tbody>
</table>
------
<cfset q = new GetOrderFile()>
<cfset res = q.execute(137012)>
<cfdump var="#res#">
