<cfquery datasource="SONAR" name="ACCESSORY">
	select 1 as BONUS,
		1 as IDARTICLE,
		1 as IDTYPE_EQUIPEMENT,
		1 as PRIX,
		1 as PRIX_2,
		1 as PRIX_3,
		1 as PRIX_4,
		1 as PRIX_CATALOGUE,
		1 as REF_REVENDEUR
	from SYSIBM.SYSDUMMY1
</cfquery>
<cfdump var="#ACCESSORY#" >