/* tooltip styles */


#tooltip {
   position:absolute;
   visibility:hidden;
   z-index:100;
   background-color:#FFF;
   border:1px solid #009FE3;
   border-left:4px solid #009FE3;
   border-radius:5px;
   padding:0.2em;
   padding-right:4px;
   font-size:11px;
}

