<cfset obj=createObject("component","ExtranetNeufCegetel_CDR")>
<cfflush interval="100">
<cfquery datasource="ROCOFFRE" name="qListe">
SELECT login_extranet le, password pw, type_extranet te,compte co, 1 nb, a.nb sh
FROM offre.logins_extranet t, 
	(SELECT 0 AS nb FROM dual) a
WHERE t.type_extranet=4
AND t.telecharger=1
AND t.cdr = 1
AND t.operateurid=534
AND t.login_extranet = 'colombes'
<!--- AND t.login_extranet <> 'CONSO-TEL2' --->
<!--- AND t.login_extranet <> 'admin_groupe' --->
GROUP BY t.login_extranet , t.password, t.type_extranet,t.compte, a.nb
ORDER BY  t.login_extranet,t.compte desc ,sh,t.type_extranet
</cfquery>

<cfdump var="#qListe#">

<cfloop query="qListe">


<!---<cftry>	--->

	<cfset resultat=obj.Main(trim(qListe.le),trim(qListe.pw),qListe.te,qListe.nb,qListe.sh,qListe.co)>
	<!--- <cfset oThread = CreateObject("java", "java.lang.Thread")>
	<cfset oThread.sleep(30000)> --->
	<cfoutput>
	#resultat#
	</cfoutput>

	<!---<cfcatch type="Any">
		<cfmail port="26" server="mail.consotel.fr" from="import@consotel.fr" to="djalel.meftouh@consotel.fr" cc="samuel.divioka@consotel.fr" subject="Robot SFR Fixe - Erreur Robot1" type="html">
			<cfdump var="#cfcatch#">
			Problème robot facture lot1.<br>
			Compte = #qListe.co# <br>
			Login = #qListe.le# <br>
			Password = #qListe.pw# <br>
			
			================================================================================ <br>
			
			#cfcatch.message#<br> <br>
		</cfmail>

	</cfcatch>
</cftry>--->

</cfloop>



