<cfset obj=createObject("component","ExtranetNeufCegetelCDR")>

<cfquery datasource="ROCOFFRE" name="qListe">
SELECT login_extranet le, password pw, type_extranet te,compte co, 1 nb, a.nb sh
FROM offre.logins_extranet t, (
	SELECT 4 AS nb FROM dual
    UNION 
	SELECT 3 AS nb FROM dual
    UNION 
	SELECT 2 AS nb FROM dual
    UNION 
    SELECT 1 AS nb FROM dual) a
WHERE t.cdr=1
AND t.type_extranet=1
AND t.operateurID=534
AND t.compte IN ('AGF','EFFIA','ELIS')
GROUP BY t.login_extranet, t.password, t.type_extranet,t.compte, a.nb
ORDER BY sh,t.type_extranet,t.compte,t.login_extranet
</cfquery>



<cfloop query="qListe">
	<cfoutput>#qListe.co# </br></cfoutput>
	<cfset resultat=obj.Main(qListe.le,qListe.pw,qListe.te,qListe.nb,qListe.sh,qListe.co)>
	<cfoutput>
	#resultat#
	</cfoutput>

</cfloop>
<!--- 
<cfoutput>
<cfset obj=createObject("component","ExtranetNeufCegetel")>
<cfset resultat=obj.Main('ALIROL','20GSK09',1,2,0,'GSK')>
#resultat#
</cfoutput>
 --->


