<cfset objProduit=createObject("component","fr.consotel.consoview.tb.produits.facade")>
<cfset dataset=objProduit.getDetailProduit(perimetre,modeCalcul,numero,idproduit_client,datedeb,datefin,tb)> 
<cfset usage = "">
<cfif tb eq "mobile"> <cfset usage = "Collaborateur"><cfelse><cfset usage = "Fonction" ></cfif>	
<cfset obj = CreateObject("component","fr.consotel.consoview.tb.produits.produit")>				
<cfset obj.init(perimetre,modeCalcul)>			
<!--- <cfset data = obj.queryData(numero,idproduit_client,createOdbcDate(datedeb),createOdbcDate(datefin))> ---> 
<cfset produit="#obj.getTypeProduit(idproduit_client)# > #obj.getProduit(idproduit_client)# : #obj.getOperateur(idproduit_client)#">
<style type="text/css">
table.sample {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
	
}

table.sample th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.sample td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	cellspacing : 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
</style>
<table align="center" width="100%" >
	<tr>	 
	<cfif lcase(dataset.type_theme) eq "abonnements">
		<td valign="top">
			<table cellspacing="0" align="center" class="cadre" border="0" cellpadding="0" width="100%">
				<tr>
					<td class="td5"><strong><cfoutput><strong>#produit#</cfoutput></strong></td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" class="menuconsoview" border="0" align="center" cellpadding="0" width="100%">
							<tr align="center">
								<th>&nbsp;Site&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Ligne&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;<cfoutput>#usage#</cfoutput>&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;QuantitÃ©&nbsp;</th>								
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Montant (&euro;)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Facture&nbsp;</th>
							</tr>
							
							<cfset montant_abo_total=0>
							<cfset nbr_abo_total=0>
							<cfoutput query="dataset" group="siteID">
								<cfset vTemp=1>
								<cfoutput>
									<cfset vTemp=vTemp+1>
								</cfoutput>
								<tr>
									<td class="grid_normal" rowspan="#vTemp#" valign="top">
									&nbsp;#nom_site#&nbsp;<br>
									&nbsp;#adresse1#&nbsp;<br>
									<cfif len(trim(adresse2)) gt 0>
									&nbsp;#adresse2#&nbsp;<br>
									</cfif>
									&nbsp;#zipcode#&nbsp;#commune#&nbsp;
									</td>
								</tr>
									<cfoutput>
									<tr>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" valign="top">&nbsp;#sous_tete#&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" valign="top">&nbsp;#commentaires#&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#LsNumberFormat(val(qte), '9,999,999,999')#
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>										
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#LsEuroCurrencyFormat(val(montant_final), 'none')# &euro;
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#numero_facture#&nbsp;</td>
									</tr>
									<cfset montant_abo_total=montant_abo_total+val(montant_final)>
									<cfset nbr_abo_total=nbr_abo_total+val(qte)>
								 
									</cfoutput>
							<tr><td colspan="11" height="1" bgcolor="808080"></td></tr>
							</cfoutput>
							<cfoutput>
								<tr>
								<th align="left" colspan="5">&nbsp;TOTAL&nbsp;</th>									
									<td width="1" bgcolor="808080"></td>
									<th align="right">&nbsp;#LsNumberFormat(val(nbr_abo_total), '9,999,999,999')#&nbsp;</th>
									<td width="1" bgcolor="808080"></td>
									<th align="right">&nbsp;#LsEuroCurrencyFormat(val(montant_abo_total), 'none')# &euro;&nbsp;</th>
									<td width="1" bgcolor="808080"></td>
									<th></th>
								</tr>
							</cfoutput>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<cfelse>
		<!--- Tableau des consommations par type --->
		<td valign="top">
			<table cellspacing="0" align="center" class="cadre" border="0" cellpadding="0" width="100%">
				<tr>
					<td class="td5"><strong><cfoutput><strong>#produit#</cfoutput></strong></td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" class="menuconsoview" border="0" align="center" cellpadding="0" width="100%">
							<tr align="center">
								<th>&nbsp;Site&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Ligne&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;<cfoutput>#usage#</cfoutput>&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Nombre Appels&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Volume (min ou kO)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Montant (&euro;)&nbsp;</th>
								<td width="1" bgcolor="808080"></td>
								<th>&nbsp;Facture&nbsp;</th>
							</tr>
							<cfset montant_conso_total=0>
							<cfset nbr_conso_total=0>
							<cfset duree_conso_total=0>
							<cfoutput query="dataset" group="siteID">
								<cfset vTemp=1>
								<cfoutput>
									<cfset vTemp=vTemp+1>
								</cfoutput>
								<tr>
									<td class="grid_normal" rowspan="#vTemp#" valign="top">
									&nbsp;#nom_site#&nbsp;<br>
									&nbsp;#adresse1#&nbsp;<br>
									<cfif len(trim(adresse2)) gt 0>
									&nbsp;#adresse2#&nbsp;<br>
									</cfif>
									&nbsp;#zipcode#&nbsp;#commune#&nbsp;
									</td>
								</tr>
									<cfoutput>
									<tr>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" valign="top">&nbsp;#sous_tete#&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" valign="top">&nbsp;#commentaires#&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#LsNumberFormat(val(nombre_appel), '9,999,999,999')#
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										<cfif duree_appel gt 0>
											#LsNumberFormat(int(val(duree_appel)), '9,999,999,999')#
										<cfelse>
											0
										</cfif>
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#LsEuroCurrencyFormat(val(montant_final), 'none')# &euro;
										&nbsp;</td>
										<td width="1" bgcolor="808080"></td>
										<td class="grid_normal" align="right" valign="top">&nbsp;
										#numero_facture#&nbsp;</td>
									</tr>
									<cfset montant_conso_total=montant_conso_total+val(montant_final)>
									<cfset nbr_conso_total=nbr_conso_total+val(nombre_appel)>
									<cfset duree_conso_total=duree_conso_total+int(val(duree_appel))>
									</cfoutput>
							<tr><td colspan="13" height="1" bgcolor="808080"></td></tr>
							</cfoutput>
							<cfoutput>
								<tr>
								<th align="left" colspan="5">&nbsp;TOTAL&nbsp;</th>
									<td width="1" bgcolor="808080"></td>
									<th align="right">&nbsp;#LsNumberFormat(val(nbr_conso_total), '9,999,999,999')#&nbsp;</th>
									<td width="1" bgcolor="808080"></td>
									<th align="right">&nbsp;#LsNumberFormat(val(duree_conso_total), '9,999,999,999')#&nbsp;</th>
									<td width="1" bgcolor="808080"></td>
									<th align="right">&nbsp;#LsEuroCurrencyFormat(val(montant_conso_total), 'none')# &euro;&nbsp;</th>
									<td width="1" bgcolor="808080"></td>
									<th></th>
								</tr>
							</cfoutput>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</cfif>
</table>
