<cfcomponent displayname="EnrollDeviceWindowsMobile" >

	<cffunction name="action">
	
		<cfargument name="param" type="struct" required="true" >
			
		<cfmail from="brice.miramont@consotel.fr" subject="MDM" type='html' 
		to="mohamed.sahraoui@consotel.com" server="mail.consotel.fr" port="26">
			test WindaubeMobile #param.sousTete#
		</cfmail>
			
		<cfreturn 1>
				
	</cffunction>
	
</cfcomponent>
