/* CSS file */
.TabNavigator {
   tabWidth: 130;
   cornerRadius: 8;
   horizontalAlign: left;
   horizontalGap: 2;
   borderStyle: solid;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
}

.myTabs {
   cornerRadius: 18;
   letterSpacing: 0;
   fillColors: #ffffff, #ffffff;
   backgroundColor: #33A3EE;
   paddingLeft: 16;

}

.Button1 {
	paddingLeft: 1;
	paddingRight: 1;
	paddingBottom: 1;
	paddingTop: 1;
	fontWeight: normal;
}

.Button2 {
	fontFamily: Verdana;
	fontSize: 10;
	fontWeight: normal;
}

.styleMenu {
    embedFonts: true;
    fontFamily: ArialR;
    fontWeight: normal;
   	color: #000000;
} 
        
.titleWindow {
	closeButtonSkin: Embed("assets/flotteMobile/btn_close_popup.png");
    closeButtonDisabledSkin: Embed("assets/flotteMobile/btn_close_popup.png");
    closeButtonDownSkin: Embed("assets/flotteMobile/btn_close_popup.png");
    closeButtonOverSkin: Embed("assets/flotteMobile/btn_close_popup.png");
    closeButtonUpSkin: Embed("assets/flotteMobile/btn_close_popup.png");
    fontFamily: Verdana;
    fontSize:12;
    fontWeight: normal;
   	color: #33A3EE;
}