/*============================================================================
* Les définitions des polices sont dans la classe :
* consoview.utils.styles.ConsoViewStyleManager

//couleur principale Consotel #FF0033
//couleur selection Consotel #FEACAC
//couleur rollOver Consotel #FFECEB

//Degrader de gris #DFDFDF #CCCCCC
//Fond gris #EAEAEA
============================================================================*/	
		 
/*===========================================================================
			Bandeau/Marque Blanches
=============================================================================*/		
Application {
   	backgroundColor: #91999f;
   	backgroundGradientColors: #b2bbc2, #687073;
   	backgroundGradientAlphas: 1, 1;
	font-weight:normal;	
	themeColor: #FF0033;
}

.PanelGlobal 
{ 
   	headerHeight: 50;
   	borderAlpha: 1;
   	borderStyle: solid;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	headerColors: #FF0033, #FF0033;	
	borderColor: #000000;
	highlight-alphas : 0,0;
	color : #000000;
	title-background-skin : Embed(source='../assets/marquesblanches/SNCF_SFR_bandeau_app.jpg',mimeType='image/jpg');
}
/*===============================================================================*/
/*===============================================================================*/
VBox, Form
{ 
	vertical-gap: 5;
}

HRule, VRule
{	stroke-color:#FF0033;
}

Button, ComboBox
{
	corner-radius:0; 
}

Alert 
{
	backgroundColor: #FFFFFF;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	
	font-weight:normal;
	font-size:10pt;
	
	color:#FF0000;
	
	borderStyle: "solid";
	borderThickness: 0;
}

DataGrid 
{
   	headerColors: #FF0033, #FF0033;
   	rollOverColor: #FFECEB;
      	selectionColor: #FEACAC;
   	headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   	color: #f8fbfc;
   	font-weight: bold;
}

.pageTitle
{
	font-size:16;
	font-weight:bold;
	color:#FF0033;
}
		
.sectionBox
{
	vertical-align:middle;
	corner-radius:5; 
	background-color:#FF0033;
	border-style: solid;
	border-color:#FF0033;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14;
}

.gridBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#333333;
	border-style:solid;
	corner-radius:5;
}

.popUpBox
{
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#FF0033;
}

.filtreBox 
{
	background-color: #FFECEB;
}

	
.textNormal 
{
	fontFamily: Verdana;
	fontSize: 10;
	fontWeight: normal;
	color: #000000;
}

.verticalTitle 
 {
	    embedFonts: true;
	    fontFamily: ArialR;
	    fontWeight: normal;
	   	color: #000000;
}

.btnActif
{
	borderColor:#FF0033;
	color:#FF0033;
}
.btnInactif
{
	borderColor:#000000;
	color:#000000;
}
	
.colorPrincipale
{}

.colorSelected
{}

.colorRollOver
{}

		
	
		
		
		
		
		
		
		
		
	
		
	 	
	 	
		 