﻿<cfsetting enablecfoutputonly="true">
<cfheader name="Content-Disposition" value="inline;filename=exportDestinataire.csv" charset="UTF-8">
<cfcontent type="text/csv">
<cfoutput>#FORM.DATA#</cfoutput>