<cfset userIdConsoView=88096>
<cfset obj=createObject("component","fr.consotel.consoview.api.ibis.demo.DemoRapportRunner")>
<cfset xmlTask=obj.getDefaultXmlReportTask()>
<cfset resultValue=obj.run(userIdConsoView,0,xmlTask)>
<cfoutput>
	JOB_ID : #resultValue#
</cfoutput>
