/*============================================================================
* Les définitions des polices sont dans la classe :
* consoview.utils.styles.ConsoViewStyleManager

//couleur principale Consotel #558ed5
//couleur selection Consotel #83A4C4
//couleur rollOver Consotel #CFDAE6

//Degrader de gris #DFDFDF #CCCCCC
//Fond gris #EAEAEA
============================================================================*/	
		
/*===========================================================================
			Bandeau/Marque Blanches
=============================================================================*/		
.PanelGlobal 
{ 
   	
}
/*===============================================================================*/
/*===============================================================================*/


/*HRule, VRule
{	
	stroke-color:#558ed5;
}

Button, ComboBox
{
	corner-radius:0; 
}

DataGrid 
{
   	headerColors: #558ed5, #558ed5;
   	rollOverColor: #f3f6fb;
    selectionColor: #8eb4e3;
   	headerStyleName: "mydataGridHeaderStyle";
}*/

.mydataGridHeaderStyle 
{
   	color: #f8fbfc;
   	font-weight: bold;
}

.pageTitle
{
	font-size:16;
	font-weight:bold;
	color:#558ed5;
}

.sectionBox
{
	vertical-align:middle;
	corner-radius:5; 
	background-color:#558ed5;
	border-style: solid;
	border-color:#558ed5;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14;
}

.gridBox
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#333333;
	border-style:solid;
	corner-radius:5;
}

.popUpBox
{
	background-color:#FFFFFF;			 
	padding-bottom:2;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;
	headerHeight:25;
}

.menuDisabledColor 
{
	disabled-color: #558ED5;
}

.filtreBox 
{
	background-color: #F3F6FB;
}

.textNormal 
{
	fontFamily: Verdana;
	fontSize: 10;
	fontWeight: normal;
	color: #000000;
}
 
.verticalTitle 
 {
	    embedFonts: true;
	    fontFamily: ArialR;
	    fontWeight: normal;
	   	color: #000000;
}

.btnActif
{
	borderColor:#558ed5;
	color:#558ed5;
}
.btnInactif
{
	borderColor:#000000;
	color:#000000;
}
	
.colorPrincipale
{}

.colorSelected
{}

.colorRollOver
{}

