.ReportListSelectedButton
{
	icon: Embed(source="fleche-rouge.png");
	color : #b4131d;
	font-size:14;	
	textAlign: left;
	font-weight: bold;
}

.ReportListCategorie
{
	color: #b4131d;
	disabled-color: #b4131d;
	textAlign: left;
	font-weight:bold;
	font-size:14;	
	icon: Embed(source="fleche-rouge.png");
	background-alpha : 1;
	backgroundColor: #D0D0D0;
	borderColor: #B0B0B0;
	borderStyle: solid;
	borderThickness: 1;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fillColors: #FFFFFF, #CCCCCC, #CCCCCC, #CCCCCC;
	
}