/*============================================================================
* Les définitions des polices sont dans la classe :
* consoview.utils.styles.ConsoViewStyleManager

//couleur principale BAYER #0066CC
//couleur selection BAYER #A8BCD0
//couleur rollOver BAYER #DEE4EA

//Degrader de gris #DFDFDF #CCCCCC
//Fond gris #EAEAEA
============================================================================*/

Application {
   	backgroundColor: #91999f;
   	backgroundGradientColors: #b2bbc2, #687073;
   	backgroundGradientAlphas: 1, 1;
	font-weight:normal;	
	themeColor: #0066CC;
}

ToolTip {
   	backgroundAlpha: 1;
   	cornerRadius: 3;
   	backgroundColor: #ffff33;
   	color: #000000;
   	textAlign: left;   
}


.loginCanvas{
	background-color : #0066CC;
	background-alpha : 0.1;
}

.panelApplication { 
   	cornerRadius: 0;
   	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderColor: #C0C8B1;
	headerColors: #C0C8B1, #C0C8B1;
	backgroundColor: #F9FBFB;
} 

TextInput { 
   	font-size: 9pt;
    borderStyle: solid;
   	/*cornerRadius: 8;*/
   	textIndent: 4;
   	themeColor: #999966;
}

DataGrid {      	
   	rollOverColor: #DEE4EA;
   	selectionColor: #A8BCD0;
}

Tree {
	rollOverColor: #DEE4EA;
   	selectionColor: #A8BCD0;
}

List {
	rollOverColor: #DEE4EA;
   	selectionColor: #A8BCD0;
}

.smallForm {
	verticalGap:3;
	paddingTop:5;
	paddingBottom:5;
	paddingLeft:5;
	paddingRight:5;
}

Alert {
	backgroundColor: #FFFFFF;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	
	font-weight:normal;
	font-size:10pt;
	color:#FF0000;
	
	borderStyle: "solid";
	borderThickness: 0;
}

TitleWindow {
	borderAlpha: 1;
	borderColor: #c9c2ab;
}

.boldForm {
	font-weight:bold;
	font-size:10pt;
}

.selectedLabel {
	color: #990000;
   	fontStyle: italic;
}

.consoViewContainerStyle {
	paddingLeft:0;
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
}

.loginIHMStyle {
	backgroundColor: #E5E5E5;
	backgroundGradientColors: #E5E5E5, #E5E5E5;	
	borderStyle: "solid";
	borderThickness: 0;
	cornerRadius: 0;
}

.loginMessage {
	/*font-family:ConsoTel;*/
	font-weight:bold;
	font-size:10pt;
	color:#FF0000;
}

.loginInput {
	/*font-family:ConsoTel;*/
	font-weight:normal;
	font-size:10pt;
}

.mainIHMStyle {
   	backgroundColor: #EAEAEA;
  	backgroundGradientColors: #EAEAEA, #EAEAEA;
   	themeColor: #EAEAEA;
   	color: #000000; 
	borderStyle: "solid";
	borderThickness: 0;
	cornerRadius: 0;
	border-color:#000000;
}

.MainButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.MainSelectedButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #99cccc, #99cccc, #99cccc, #99cccc;
   	color: #000000;
   	borderColor: #000000;
}

.MainInput {
   	backgroundColor: #d6d1c0;
   	borderStyle: solid;
   	borderColor: #400040;
   	dropShadowEnabled: false;
   	text-align:center;
   	font-weight:bold;
   	disabled-color:#000000;
   	theme-color: #c9c2ab;
}

.MainPopUpButton {
   	backgroundColor: #d6d1c0;
   	borderStyle: solid;
   	borderColor: #400040;
   	dropShadowEnabled: false;
   	text-align:center;
   	font-weight:bold;
   	disabled-color:#000000;
   	theme-color: #c9c2ab;
}

.MainMenubar {
	cornerRadius: 2;
   	backgroundAlpha: 1;
   	themeColor: #999966;
   	openDuration: 128;
   	closeDuration: 133;
   	text-align:left;
}

.MainMenu {
   	themeColor: #999966;
   	openDuration: 128;
   	closeDuration: 133;
   	rollOverColor: #d6d1c0;
   	selectionColor: #c9c2ab;
   	text-align:left;
}

.MainCombo {
   	cornerRadius: 0;
   	highlightAlphas: 0, 0;
   	fillAlphas: 1, 1, 1, 1;
   	fillColors: #d6d1c0, #d6d1c0, #d6d1c0, #d6d1c0;
   	selectionColor: #d6d1c0;
   	themeColor: #c9c2ab;
   	openDuration: 128;
   	closeDuration: 133;
}

.MainDate { 
   	cornerRadius: 0;
   	borderThickness: 0;
   	headerColors: #d6d1c0, #d6d1c0;
   	themeColor: #c9c2ab;
}

.roundedCanvas{
	background-alpha : 0.7;
	backgroundColor : #ffffff;
	borderStyle : solid;
	cornerRadius : 5;
}

.titleLoginItalic {
	fontFamily: Tahoma;
   	fontSize: 12;
   	color: #FFFFFF;
   	fontWeight: bold;
   	fontStyle: italic;
}

.titleLoginItalicBlack {
	fontFamily: Tahoma;
   	fontSize: 12;
   	color: #000000;
   	fontWeight: bold;
   	fontStyle: italic;
}

.titleLogin {
	fontFamily: Tahoma;
   	fontSize: 12;
   	color: #999999;
   	fontWeight: bold;
   	fontStyle: normal;
}
.PanelLogin { 
   	headerHeight: 24;
   	borderAlpha: 1;
   	borderStyle: solid;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	headerColors: #0066CC, #0066CC;	
	borderColor: #000000;
	highlight-alphas : 0,0;
	color : #000000;
	
}

.PanelGlobal { 
   	headerHeight: 50;
   	borderAlpha: 1;
   	borderStyle: solid;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	headerColors: #0066CC, #0066CC;	
	borderColor: #000000;
	highlight-alphas : 0,0;
	color : #000000;
	title-background-skin : Embed(source='../assets/marquesblanches/BAYER_bandeau_app.jpg',mimeType='image/jpg');
}

.titreAccueil{
	/*background-image : Embed(source='../assets/marquesblanches/MiniBAYER.jpg',mimeType='image/jpg');*/
}

.panelApp { 
   	headerHeight: 24;
   	borderAlpha: 1;
   	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 0;
  	borderThicknessRight: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
	borderColor: #32322D;
	headerColors: #B1C5C8, #B1C5C8;
	backgroundColor: #F9FBFB;	
}
.ButtonLogin { 
   	cornerRadius: 2;
   	fillAlphas: 1, 1, 1, 1;
   	borderColor: #aab3b3;
   	themeColor: #666666;
}

/* ########################## Mehdi Css ################################ */
.noPadding {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
	float: left;
}

.budgetInputWidth {
	width: 80;
}

/* #################################################################### */



/* ############################ UNIVERS ACCUEIL ####################### */
/* CSS file */

.universAccueil{
	/* old
	backgroundColor: #909587;
	backgroundGradientColors: #909587, #909587;
	themeColor: #909587;
	*/
	backgroundColor: #EAEAEA;
	backgroundGradientColors: #DFDFDF #DFDFDF;
	themeColor: #0066CC;
	color: #000000;
}

.panelAccueil { 
   	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
  	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";
	
} 
.jfComTitleSty {
	color: #FFFFFF;
	font-weight: bold;
}

.InfoPanelAccueil { 
   	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
  	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	color: #000000;
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";
} 

.MainAccueilButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.MainAccueilSelectedButton {
	theme-color: #C0C8B1;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #C0C8B1, #C0C8B1, #C0C8B1, #C0C8B1;
   	color: #32322D;
   	borderColor: #32322D;
}

.comboAccueil { 
   	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.TextInputAccueil { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #C0C8B1;
   borderThickness: 1;
   cornerRadius: 3;
}

.DateChooserAccueil { 
   cornerRadius: 3;
   headerColors: #0066CC, #0066CC;
   backgroundAlpha: 1;
   themeColor: #0066CC;
	headerStyleName: "mydateChooserHeaderStyle";
}

.mydateChooserHeaderStyle {
   	color: #FFFFFF;
   	fontWeight: bold;
   	fontSize: 11;
   	fontStyle: normal;
   	textDecoration: none;
}

.LinkBarAccueil { 
   	horizontalGap: 0;
   	separatorWidth: 1;  
   	selectionColor: #A8BCD0;
   	rollOverColor: #DEE4EA;  
    color: #0066CC;
    textRollOverColor: #2b333c;
   	disabledColor: #000000;
}

/*##################################### FIN UNIVERS ACCEUIL ################################################*/

/*##################################### UNIVERS INEVANTAIRE ################################################*/
/* CSS file */

.universInventaire{
	backgroundColor: #EAEAEA;
	backgroundGradientColors: #DFDFDF #CCCCCC;
	themeColor: #0066CC;
	color: #000000;
	
	/*borderColor: #0066CC;	
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	highlight-alphas: 0,0;*/
}

.panelInventaire {    
	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
  	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";
	
} 
.jfComTitleSty {
	color: #FFFFFF;
	font-weight: bold;
}
.InfoPanelInventaire { 
   	cornerRadius: 0;
   	borderAlpha: 1;
   	headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
   	color : #000000;
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";	
} 

.MainInventaireButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.MainInventaireSelectedButton {
	theme-color: #A9CC66;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #A9CC66, #A9CC66, #A9CC66, #A9CC66;
   	color: #32322D;
   	borderColor: #32322D;
}

.TabInventaire {
   	borderStyle: solid;
   	borderColor:  #EAEAEA;
   	tabStyleName: "myTabs";
   	selectedTabTextStyleName: "mySelectedTabs";
   	
   	backgroundColor: #EAEAEA;
	backgroundGradientColors: #EAEAEA, #EAEAEA;
	themeColor: #FDFFDC;
	color: #000000;
}

.TabNavInventaire {
   	
   	borderStyle: solid;
   	borderColor: #EAEAEA;
   	tabStyleName: "myTabs";
   	selectedTabTextStyleName: "mySelectedTabs";
   	
   	backgroundColor: #EAEAEA;
	backgroundGradientColors: #EAEAEA, #EAEAEA;
	themeColor: #FDFFDC;
	color: #000000;
}

.myTabs {
   	backgroundColor: #0066CC;   	
   	fillColors: #DEDEDE, #DEDEDE, #DEDEDE, #DEDEDE;
   	borderStyle: solid;
   	borderColor:  #EAEAEA;	
   	color : #cccccc;
}

.mySelectedTabs {
	fillColors: #0066CC, #0066CC, #0066CC, #0066CC;
   	borderStyle: solid;
   	borderColor:  #EAEAEA;
   	color : #FFFFFF;   
}


.comboInventaire { 
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.TextInputInventaire { 
   	backgroundAlpha: 0.5;
   	borderStyle: solid;
   	borderColor: #999999;
   	borderThickness: 1;
   	cornerRadius: 3;
}

.TextInputInventaireEditable { 
   	backgroundAlpha: 0.5;
   	borderStyle: solid;
   	borderColor: #FF6666;
   	borderThickness: 1;
   	cornerRadius: 3;
}

.DateChooserInventaire { 
   cornerRadius: 3;
   headerColors: #0066CC, #0066CC;
   backgroundAlpha: 1;
   themeColor: #0066CC;
   headerStyleName: "mydateChooserHeaderStyle";
}

.canvasLabel{
	backgroundColor : #EAEAEA; 
}


.LinkBarInventaire { 
   	horizontalGap: 0;
   	separatorWidth: 1;
  
   	selectionColor: #A8BCD0;
   	rollOverColor: #DEE4EA;  
    color: #0066CC;
    textRollOverColor: #2b333c;
   	disabledColor: #000000;
}
.LinkBarInventaire2 { 
   	color: #999999;
   	textSelectedColor: #999999;
   	disabledColor: #000000;
}

.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ffffff;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.canvasLabeled{
	backgroundColor : #f2f2f2; 
}

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	

.myNormalInputText{	
	cornerRadius: 0;
	textIndent: 1;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}

.bonjour{
	color : #FF8000;
}

.consogilles{
	color : #DDDDDD;
}

.erreur {
	fontWeight: bold;
	color : #C40000;
}

.myPieChart{
	dropShadowEnabled : false;
}

.myAxisStyle {
    tickLength: 20;
    tickPlacement: outside;
    minorTickPlacement: outside;
    color : #000000;
}

/*##################################### FIN UNIVERS INVENTAIRE #############################################*/

/*##################################### UNIVERS FACTURATION ################################################*/
/* CSS file */

.universFacturation{
	/*backgroundColor: #909587;
	backgroundGradientColors: #909587, #909587;*/
	backgroundColor: #EAEAEA;
	backgroundGradientColors: #DFDFDF #CCCCCC;
	themeColor: #0066CC;
	color: #000000;
}

.panelFacturation { 
   	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
  	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";
	
} 
.jfComTitleSty {
	color: #FFFFFF;
	font-weight: bold;
}

.InfoPanelFacturation { 
   	cornerRadius: 0;
   	borderAlpha: 1;
   	headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
   	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
} 

.MainFacturationButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.MainFacturationSelectedButton {
	theme-color: #A9CC66;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #A9CC66, #A9CC66, #A9CC66, #A9CC66;
   	color: #32322D;
   	borderColor: #32322D;
}

.comboFacturation { 
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.TextInputFacturation { 
   	backgroundAlpha: 0.5;
   	borderStyle: solid;
   	borderColor: #FF6666;
   	borderThickness: 1;
   	cornerRadius: 3;
}

.DateChooserFacturation { 
   cornerRadius: 3;
   headerColors: #0066CC, #0066CC;
   backgroundAlpha: 1;
   themeColor: #0066CC;
   headerStyleName: "mydateChooserHeaderStyle";
}

.LinkBarFacturation { 
   	horizontalGap: 0;
   	separatorWidth: 1;
  
   	selectionColor: #A8BCD0;
   	rollOverColor: #DEE4EA;  
    color: #0066CC;
    textRollOverColor: #2b333c;
   	disabledColor: #000000;
}

.tableauStyle {
	header-height : 14;
	font-size:10;	
	cornerRadius: 0;
	borderThickness: 0;
   	dropShadowEnabled: true;
   	roundedBottomCorners: false;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
  	borderThicknessTop: 0;
  	highlightAlphas: 0,0;
  	borderStyle: solid;
  	headerColors: #0066CC, #0066CC;  	
   	backgroundColor: #EAEAEA;
   	backgroundAlpha: 1;
   	borderColor: #000000;
   	color:#FFFFFF;      	
}

.FlatDataGridToP {		
	
	color: #000033;	
	font-size: 10;     
    border-color: #000000;
    separator-width:0;
    vertical-grid-line-color: #000000;    
    horizontal-grid-line-color : #000000;    
    paddingTop:0; 
    use-roll-over: false;
    roll-over-color: #82CFFD;
   
    selection-color: #82CFFD;    
   /* header-separator-skin: ClassReference("composants.tb.tableaux.renderer.FlatHeaderSeparator");    */
     
}

.FlatDataGridContent {				
	color: #000033;	
	font-size: 10;	     
	horizontalGridLines: true;
   	horizontalGridLineColor: #cccccc;
	border-color: #000000;
    border-style: solid;  
    separator-width:0;
    vertical-grid-line-color : #534e42;  
    paddingBottom: 0;
	paddingTop: 0; 	    
    textSelectedColor: #2b333c;   
    leading: 20;
    roll-over-color:#EFFFFF;
  /*  header-separator-skin: ClassReference("composants.tb.tableaux.renderer.FlatHeaderSeparator");   */
   
}

.GraphBaseStyle {
	header-height : 14;
	font-size:10;
	cornerRadius: 0;
	borderThickness: 0;
   	dropShadowEnabled: true;
   	roundedBottomCorners: false;
   	borderThicknessLeft: 0;
   	borderThicknessRight: 0;
  	borderThicknessTop: 0;
  	highlightAlphas: 0,0;
  	borderStyle: solid;
  	headerColors: #0066CC, #0066CC;  	
   	backgroundColor: #EAEAEA;
   	backgroundAlpha: 1;
   	borderColor: #000000;
   	color:#FFFFFF;      	
}

.Back{
	background-color : #FFFFFF;
	background-alpha : 1;
	border-style : solid;
	border-color : #000000;
}

.myToggleButtonBar{
	theme-color: #0066CC;
	buttonHeight: 14;
	font-size:10;
	padding-top: -2;
	horizontal-gap: 0;
	corner-radius: 0;
	buttonStyleName:"myButtonBar";
}
.myButtonBar {
   cornerRadius: 0;
}
 
/*##################################### FIN UNIVERS FACTURATION ############################################*/

/*##################################### UNIVERS USAGE ######################################################*/
/* CSS file */

.universUsages{
	backgroundColor: #EAEAEA;
	backgroundGradientColors: #DFDFDF #CCCCCC;
	themeColor: #0066CC;
	color: #000000;
}

.panelUsage { 
   
	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
  	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";
	
} 
.jfComTitleSty {
	color: #FFFFFF;
	font-weight: bold;
}

.InfoPanelUsage { 
   	cornerRadius: 0;
   	borderAlpha: 1;
   	headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
   	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
} 

.MainUsageButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.MainUsageSelectedButton {
	theme-color: #D6C5A0;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #D6C5A0, #D6C5A0, #D6C5A0, #D6C5A0;
   color: #32322D;
   borderColor: #32322D;
}

.comboUsage { 
   	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.LinkBarUsage { 
	horizontalGap: 0;
   	separatorWidth: 1;  
   	selectionColor: #A8BCD0;
   	rollOverColor: #DEE4EA;  
    color: #0066CC;
    textRollOverColor: #2b333c;
   	disabledColor: #000000;
}

.TextInputUsage { 
   	backgroundAlpha: 0.5;
   	borderStyle: solid;
   	borderColor: #FF6666;
   	borderThickness: 1;
   	cornerRadius: 3;
}

.DateChooserUsage { 
   cornerRadius: 3;
   headerColors: #0066CC, #0066CC;
   backgroundAlpha: 1;
   themeColor: #0066CC;
   headerStyleName: "mydateChooserHeaderStyle";
}


.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ffffff;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	

.myNormalInputText{	
	cornerRadius: 0;
	textIndent: 1;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}

.bonjour{
	color : #FF8000;
}

.consogilles{
	color : #DDDDDD;
}

.erreur {
	fontWeight: bold;
	color : #C40000;
}

.myPieChart{
	dropShadowEnabled : false;
}

.myAxisStyle {
    tickLength: 20;
    tickPlacement: outside;
    minorTickPlacement: outside;
    color : #000000;
}

/*##################################### FIN UNIVERS USAGE ##################################################*/

/*##################################### UNIVERS PARAMETRE ##################################################*/

/* CSS file */

.universParametres{
	backgroundColor: #EAEAEA;
	backgroundGradientColors: #DFDFDF #CCCCCC;
	themeColor: #0066CC;
	color: #000000;
}

.panelParametres {   
	cornerRadius: 3;
   	dropShadowEnabled: true;
   	shadowDistance: 1;
  	borderAlpha: 1;
   	headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
	title-style-name: "jfComTitleSty";
} 

.InfoPanelParametres { 
    cornerRadius: 0;
   	borderAlpha: 1;
   	headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   	borderThicknessRight: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
   	
	borderColor: #0066CC;
	headerColors: #0066CC, #0066CC;
	backgroundColor: #EAEAEA;
} 

.MainParametresButton {
	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.MainParametresSelectedButton {
	theme-color: #FFD972;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #FFD972, #FFD972, #FFD972, #FFD972;
   	color: #32322D;
   	borderColor: #32322D;
}

.comboParametres { 
   	theme-color: #c9c2ab;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #e7e3d3, #e7e3d3, #e7e3d3, #e7e3d3;
   	color: #000000;
   	borderColor: #000000;
}

.TextInputParametres { 
   	backgroundAlpha: 0.5;
   	borderStyle: solid;
   	borderColor: #EAEAEA;
   	borderThickness: 1;
   	cornerRadius: 3;  
}

.DateChooserParametres { 
   cornerRadius: 3;
   headerColors: #0066CC, #0066CC;
   backgroundAlpha: 1;
   themeColor: #0066CC;
   headerStyleName: "mydateChooserHeaderStyle";
}

.LinkBarParametres { 
   horizontalGap: 0;
   	separatorWidth: 1;  
   	selectionColor: #A8BCD0;
   	rollOverColor: #DEE4EA;  
    color: #0066CC;
    textRollOverColor: #2b333c;
   	disabledColor: #000000;
}


/*##################################### FIN UNIVERS PARAMETRE ##############################################*/


