
<!--- 		<cfquery name="qGetimg" datasource="#session.offredsn#">
			select 	*
			from 	logo
			where idlogo=4
		</cfquery>
		<!--- <cfcontent type="image/gif; charset=8859_1" variable="#qGetimg.logo#"> --->
		<cfcontent type="image/gif; charset=8859_1">
		<cfscript>
			writeOutput(toString(qGetimg.logo));
		</cfscript> --->
		
		
		
		<cfquery name="qGetimg" datasource="#session.offredsn#">
			select 	*
			from 	logo
			where idlogo=#idlogo#
		</cfquery>
		<cfcontent type="image/jpeg; charset=8859_1" variable="#qGetimg.logo#"> 