<cfif IsDefined ('SESSION')>
		<cfif IsDefined ('SESSION.IS_CONNECTED')>
			<cfif SESSION.IS_CONNECTED EQ 0> 		
				<cflocation url="index_mobile.cfm">
			</cfif>
		<cfelse>	 
			<cflocation url="index_mobile.cfm">
		</cfif>	
<cfelse>	 
		<cflocation url="index_mobile.cfm">

</cfif>

<?xml version="1.0" encoding="iso-8859-1" ?><!DOCTYPE html PUBLIC
	"-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
	"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head><title>TELLCOST</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="all" />
<meta name="classification" content="Services" />
<meta name="copyright" content="ConsoTel SAS" />
<meta name="author" content="Guillaume RAMOS" />
<meta name="language" content="fr" />
<meta name="description" content="TELLCOST" />
<meta name="keywords" content="TELLCOST" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

	<div align="left">
	

			<a href="home.cfm"> << Retour </a>

			<div align="right">
				<a href="index_mobile.cfm" align="right"> Déconnexion </a>
			</div>

		<br /><br />

					
		

		<br />

	</div>