/* CSS file */

.universInventaire{
	backgroundColor: #DEDEDE;
	backgroundGradientColors: #DEDEDE, #DEDEDE;
	themeColor: #909587;
	color: #000000;
}

.panelInventaire { 
   /*
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #A9CC66, #A9CC66;
	backgroundColor: #F4FDE2;
	*/
	cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDistance: 1;
   borderAlpha: 1;
   headerHeight: 16;
	highlightAlphas: 0, 0;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #A9CC66;
	headerColors: #A9CC66, #A9CC66;
	backgroundColor: #F4FDE2;
} 

.InfoPanelInventaire { 
   cornerRadius: 0;
   borderAlpha: 1;
   headerHeight: 14;
	highlightAlphas: 0, 0;
	borderStyle: solid;
	borderThicknessLeft: 1;
   borderThicknessRight: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
	borderColor: #32322D;
	headerColors: #A9CC66, #A9CC66;
	backgroundColor: #F4FDE2;
} 

.canvasLabel{
	backgroundColor : #F4FDE2; 
}

.MainInventaireButton {
	theme-color: #A9CC66;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #A9CC66, #A9CC66, #A9CC66, #A9CC66;
   color: #32322D;
   borderColor: #32322D;
}

.MainInventaireSelectedButton {
	theme-color: #A9CC66;
	cornerRadius: 2;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
   fillColors: #A9CC66, #A9CC66, #A9CC66, #A9CC66;
   color: #32322D;
   borderColor: #32322D;
}

.TabInventaire {
   borderStyle: solid;
   borderColor:  #A9CC66;
   tabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.TabNavInventaire {
   backgroundColor: #F4FDE2;
   borderStyle: solid;
   borderColor:  #A9CC66;
   tabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
   backgroundColor : #A9CC66;
   fillColors: #cccccc, #cccccc;
   borderStyle: solid;
   borderColor:  #A9CC66;	
}

.mySelectedTabs {
   borderStyle: solid;
   borderColor:  #A9CC66;
}


.comboInventaire { 
  backgroundAlpha: 1;
   borderColor: #A9CC66;
   cornerRadius: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 0.5,0.5,0.5,0.5;
   fillColors: #A9CC66, #A9CC66, #A9CC66, #A9CC66;
   themeColor: #A9CC66;
}

.TextInputInventaire { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #A9CC66;
   borderThickness: 1;
   cornerRadius: 3;
}

.TextInputInventaireEditable { 
   backgroundAlpha: 0.5;
   borderStyle: solid;
   borderColor: #FF6666;
   borderThickness: 1;
   cornerRadius: 3;
}

.DateChooserInventaire { 
   cornerRadius: 3;
   headerColors: #A9CC66, #A9CC66;
   backgroundAlpha: 1;
   themeColor: #A9CC66;
}

.LinkBarInventaire { 
   horizontalGap: 0;
   separatorWidth: 1;
   rollOverColor: #A9CC66;
   selectionColor: #A9CC66;
   color: #D6994F;
   textRollOverColor: #F4FDE2;
   textSelectedColor: #F4FDE2;
   disabledColor: #32322D;
}
.LinkBarInventaire2 { 
   color: #999999;
   textSelectedColor: #999999;
   disabledColor: #000000;
}

.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ffffff;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	

.myNormalInputText{	
	cornerRadius: 0;
	textIndent: 1;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}

.bonjour{
	color : #FF8000;
}

.consogilles{
	color : #DDDDDD;
}

.erreur {
	fontWeight: bold;
	color : #C40000;
}

.myPieChart{
	dropShadowEnabled : false;
}

.myAxisStyle {
    tickLength: 20;
    tickPlacement: outside;
    minorTickPlacement: outside;
    color : #000000;
}
