/*============================================================================
* Les définitions des polices sont dans la classe :
* consoview.utils.styles.ConsoViewStyleManager

//couleur principale Consotel #558ed5
//couleur selection Consotel #83A4C4
//couleur rollOver Consotel #CFDAE6

//Degrader de gris #DFDFDF #CCCCCC
//Fond gris #EAEAEA
============================================================================*/	
		
/*===========================================================================
			Bandeau/Marque Blanches
=============================================================================*/		
.PanelGlobal 
{ 
   	
}
/*===============================================================================*/
/*===============================================================================*/
VBox, Form
{ 
	vertical-gap: 5;
}

HRule, VRule
{	stroke-color:#558ed5;
}

Button, ComboBox
{
	corner-radius:0; 
}

DataGrid /*OK*/
{
   	headerColors: #558ed5, #558ed5;
   	rollOverColor: #f3f6fb;
      	selectionColor: #8eb4e3;
   	headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {/*non utilisé*/
   	color: #f8fbfc;
   	font-weight: bold;
}

.pageTitle/*utilisé dans 9 popups de M28, entre autres*/
{
	font-size:16;
	font-weight:bold;
	color:#558ed5;
}

.sectionBox/*non utilisé*/
{
	vertical-align:middle;
	corner-radius:5; 
	background-color:#558ed5;
	border-style: solid;
	border-color:#558ed5;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14;
}

.gridBox/*Pour le résultat de recherche globale dans M00*/
{
	padding-top:5; 
	padding-left:2;
	padding-right:2;
	padding-bottom:5;
	border-color:#333333;
	border-style:solid;
	corner-radius:5;
}

.popUpBox/*ConfirmationSuppressionIHM.mxml*/
{
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:20;
	border-thickness:2;
	border-color:#558ed5;
}

.menuDisabledColor/*non utilisé*/
{
	disabled-color: #558ED5;
}

.filtreBox/*non utilisé*/
{
	background-color: #F3F6FB;
}

.textNormal /*non utilisé*/
{
	fontFamily: Verdana;
	fontSize: 10;
	fontWeight: normal;
	color: #000000;
}
 
.verticalTitle /*non utilisé*/
 {
	    embedFonts: true;
	    fontFamily: ArialR;
	    fontWeight: normal;
	   	color: #000000;
}

.btnActif/*non utilisé*/
{
	borderColor:#558ed5;
	color:#558ed5;
}
.btnInactif/*non utilisé*/
{
	borderColor:#000000;
	color:#000000;
}

.standardBox
{ 
	paddingTop: 10;
	paddingBottom: 10;
	paddingRight: 10;
	paddingLeft: 10;
	borderColor: #c9c9c9;
	borderStyle: solid;
	backgroundColor: #B9121B;
}

.colorPrincipale
{}

.colorSelected
{}

.colorRollOver
{}

.GCpopUpBox
{
	background-color:#FFFFFF;			 
	padding-bottom:5;
	padding-left:2;
	padding-right:2;
	padding-top:0;
	border-style:solid;			 
	corner-radius:15;
	border-thickness:1;
	border-color:#558ed5;
	shadowDistance:0;
}

.GCpageTitle
{
	font-size:15;
	font-weight:bold;
	color:#0B333C;
}
