<cfdump var="#url#">
<cfset arr=ArrayNew(1)>
<cfset arr[1]=url.idgroupe_client>
<cfset arr[2]=url.idproduit>
<cfset arr[3]=url.datedeb>
<cfset arr[4]=url.datefin>
<cfset label=url.libelle_produit>
<cfobject component="fr.consotel.consoview.production.ratios.calcul" type="component" name="objQuery">
<cfset qGetGrid=Evaluate("objQuery."&url.rapport&"(arr)")>
<cfset lerapport="exportType"&url.typeR&".cfm">
<cfinclude template="#lerapport#">