<cftry>
	<cfquery name="testQuery" datasource="ROCOFFRE">
		select 1 from dual
	</cfquery>
	<cfif testQuery.recordCount eq 1>
		<cfoutput>#ucase('ok')#</cfoutput>
		<cfelse>
		<cfoutput>#ucase('test query failed')#</cfoutput>
	</cfif>
	
	<cfcatch type="any">
		<cfoutput>Error : <P>#cfcatch.message#</P></cfoutput>
	</cfcatch>
</cftry>