
<cfscript>
code_app = 101;
app_loginid = 6956;
racineid = 310812;
code_lang='fr_FR';
perimeterid=310812;


dataset = getdataset();
writeDump(dataset);
</cfscript>

















<cffunction name="getdataset" returntype="any">
	<cfstoredproc datasource="ROCOFFRE" procedure="PKG_M00.getListeModuleClient_V4">
		<cfprocparam value="#code_app#"	type="in"	cfsqltype="CF_SQL_INTEGER">
		<cfprocparam value="#app_loginid#"	type="in"	cfsqltype="CF_SQL_INTEGER">
		<cfprocparam value="#racineid#"	type="in"	cfsqltype="CF_SQL_INTEGER">
		<cfprocparam value="#code_lang#"	type="in"	cfsqltype="CF_SQL_INTEGER">
		<cfprocparam value="#perimeterid#"	type="in"	cfsqltype="CF_SQL_INTEGER">
		<cfprocresult name="qResult">
	</cfstoredproc>
	<cfreturn qResult>
</cffunction>
	