<cfcomponent output="true" displayname="Formate les mail du workflow de commande">
	
	<cffunction name="formaterMessage" access="public" output="true" returntype="void">
		
		<cfargument name="commande" displayName="la commande enquestion" type="fr.consotel.consoview.inventaire.commande.Commande" required="true" />
		<cfargument name="articles" displayName="les articles de la commande" type="XML" required="true"/>
		<cfargument name="action" displayName="l'action" type="any" required="true"/>
		<!--- TODO: Implement Method --->
		<cfreturn />
	</cffunction>
	
</cfcomponent>