	<!--- PROCESSUS D'UPLOAD DE FICHIERS --->

	<!--- <cfset ImportTmp="/container/"> --->
	<cfset ImportTmp="/container/M16/">	
	
	<cfset uuid = #uuidcreate#>
	<!--- <cfset files = #filesToUpload#> --->
		
	<cfif NOT DirectoryExists('#ImportTmp##uuid#')>
		
		<cfdirectory action="Create" directory="#ImportTmp##uuid#" type="dir" mode="777">
		
	</cfif>
		
	<cftry>
		
		<cffile action="upload" mode="777" fileField="filedata" destination="#ImportTmp##uuid#/" nameconflict="overwrite" result="uploadFile" accept="application/octet-stream">

		<cfset fileRenamed = createObject("component","fr.consotel.consoview.M16.RegexRenameFile").changeSpecialCaracters(#Filename#)>

		<cffile action="rename" source="#ImportTmp##uuid#/#Filename#" destination="#ImportTmp##uuid#/#fileRenamed#">

<!--- 		<cfloop index="idx" from="1" to="#ArrayLen(files)#">
			<cffile action="upload" mode="777" fileField="files[idx]" destination="#ImportTmp##uuid#/" nameconflict="overwrite" result="uploadFile" accept="application/octet-stream">
		</cfloop> --->
		
	<cfcatch>
	</cfcatch>
	</cftry>