<head>
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/main_2.css" rel="stylesheet" type="text/css">
	<title>ConsoView</title>
</head>

<cfparam name="form.id" default="0">
<cfset demandeFactory = createObject("component","fr.consotel.consoview.inventaire.cycledevie.nouveauxproduits.ConcreteDemandeCreator")>
<cfset demande = demandeFactory.createDemande(form.FORMAT)>
<cfdump var="#form#" expand="true">
<cfset demande.afficher(type)> 