<cfset objMail=createObject("component","AnalyseMail")>

<cfpop action="GETHEADERONLY" name="qGetHeader" server="mail.consotel.fr" 
port="110" timeout="5" username="cdr" password="consnia">

<cfset compteur=0>
<cfset compteurMailNonReconnu=0>
<!--- Téléchargement des pièces jointes --->
<cfloop query="qGetHeader">
	<cfset attachement=objMail.checkTypeMail(qGetHeader.replyto,qGetHeader.subject)>
	<cfif attachement neq "">
		<cfpop action="getAll" name="qGetSingleMail" server="mail.consotel.fr" 
			port="110" timeout="5" username="cdr" password="consnia" uid="#qGetHeader.uid#" attachmentpath="#attachement#"
			generateuniquefilenames="yes">
		<cfif attachement neq "/app/fichiers/1-recup/test/FichiersInconnus">
			<cfset compteur=compteur+1>
		<cfelse>
			<cfset compteurMailNonReconnu=compteurMailNonReconnu+1>
		</cfif>
	</cfif>
</cfloop>
<cfabort showerror="fintest">
<!--- Fait une pause --->
<cfset thread = CreateObject("java", "java.lang.Thread")>
<cfset thread.sleep(JavaCast('long', 1000)) />

<!--- Suppression des mails --->
<cfloop query="qGetHeader">
	<cfset attachement=objMail.checkTypeMail(qGetHeader.replyto,qGetHeader.subject)>
	<cfif attachement neq "">
		<cfpop action="delete" name="qGetSingleMail" server="mail.consotel.fr" 
				port="110" timeout="5" username="cdr" password="consnia" uid="#qGetHeader.uid#">
	</cfif>
</cfloop>

<cfmail port="26" to="djalel.meftouh@consotel.fr" bcc="djalel.meftouht@consotel.fr" from="cdr@consotel.fr" subject="[Import CDR] - Traitement mails" server="mail.consotel.fr" type="HTML">
	Courriels non nonreconnus : #compteurMailNonReconnu#<br>
	Courriels reconnus : #compteur#<br>
</cfmail>
