<cfinterface displayName="fr.consotel.api.ibis.publisher.handler.IEventTarget" hint="Interface of EVENT TARGET (Pattern OBSERVER)">
	<cffunction access="public" name="getValue" returntype="string" hint="Returns value of EVENT_HANDLER">
	</cffunction>
</cfinterface>