<cfcomponent name="XmlDataFactory" alias="fr.consotel.consoview.bi.utils.data.xml.XmlDataFactory">
	<cffunction name="generateXmlData" access="remote" returntype="void">
		
	</cffunction>
</cfcomponent>
