﻿<cfcomponent>
	<cffunction access="remote" output="false" name="getSelector" returntype="query">
			<cfquery name="qListClePerimetre" datasource="ROCOFFRE"> 
				  select 2 ID, 'G_IDMASTER' CLES from dual
				  UNION
				  select 3 ID, 'G_IDRACINE' CLES from dual
				  UNION
				  select 4 ID, 'G_IDORGA' CLES from dual
				  UNION
				  select 5 ID, 'G_IDPERIMETRE' CLES from dual
				  UNION
				  select 6 ID, 'G_IDCLICHE' CLES from dual
				  UNION
				  select 7 ID, 'G_IDRACINE' CLES from dual
			</cfquery>	
		  <cfreturn qListClePerimetre>		
	</cffunction>
</cfcomponent>