<cfcomponent name="Accueil" alias="fr.consotel.consoview.bi.report.quickwin.Accueil">
	<cffunction name="createReportInfos" access="public" returntype="struct">
		<cfargument name="qwInfos" required="true" type="struct">
		<cfset accueilInfos=arguments.qwInfos["ACCUEIL"]>
		<cfset accueilReportInfos=structNew()>
		<cfset accueilReportInfos["ABSOLUTE_PATH"]="/LABS/QUICKWIN/QwAccueil/QwAccueil.xdo">
		<cfset accueilReportInfos["TEMPLATE"]="default">
		<cfset accueilReportInfos["OUTPUT_DIRECTORY"]="/opt/oracle/home/OBIEE/QUICKWIN/LABS/" & arguments.qwInfos["IDRACINE"] & "/">
		<!--- NE SONT PAS UTILISES 
		<cfset accueilDateDebString=parseDateTime(accueilInfos["DATEDEB"],"yyyy/mm/dd")>
		<cfset accueilDateFinString=parseDateTime(accueilInfos["DATEFIN"],"yyyy/mm/dd")>
		 --->
		<cfset accueilReportInfos["OUTPUT_FILENAME"]="01-Accueil">
		<cfset accueilReportInfos["OUTPUT_FORMAT"]="EXCEL">
		<cfset accueilReportInfos["BURST_OPTION"]="FALSE">
		<cfset accueilReportInfos["JOB_NAME"]=arguments.qwInfos["IDRACINE"] & "-ACCUEIL-QWREPORT">
		<!--- REPORT PARAMETERS --->
		<cfset i=1>
		<cfset arrayOfParamNameValues=arrayNew(1)>
		<cfset P_IDRACINE_MASTER=structNew()>
		<cfset P_IDRACINE_MASTER["name"]="P_IDRACINE_MASTER">
		<cfset P_IDRACINE_MASTER["values"]=[arguments.qwInfos["IDRACINE_MASTER"]]>
		<cfset P_IDRACINE_MASTER["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_IDRACINE_MASTER>
		<cfset i=i+1>
		<cfset P_IDRACINE=structNew()>
		<cfset P_IDRACINE["name"]="P_IDRACINE">
		<cfset P_IDRACINE["values"]=[arguments.qwInfos["IDRACINE"]]>
		<cfset P_IDRACINE["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_IDRACINE>
		<cfset i=i+1>
		<cfset P_DATEDEB1=structNew()>
		<cfset P_DATEDEB1["name"]="P_DATEDEB1">
		<cfset P_DATEDEB1["values"]=[accueilInfos["DATEDEB1"]]>
		<cfset P_DATEDEB1["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_DATEDEB1>
		<cfset i=i+1>
		<cfset P_DATEFIN1=structNew()>
		<cfset P_DATEFIN1["name"]="P_DATEFIN1">
		<cfset P_DATEFIN1["values"]=[accueilInfos["DATEFIN1"]]>
		<cfset P_DATEFIN1["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_DATEFIN1>
		<cfset i=i+1>
		<cfset P_DATEDEB2=structNew()>
		<cfset P_DATEDEB2["name"]="P_DATEDEB2">
		<cfset P_DATEDEB2["values"]=[accueilInfos["DATEDEB2"]]>
		<cfset P_DATEDEB2["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_DATEDEB2>
		<cfset i=i+1>
		<cfset P_DATEFIN2=structNew()>
		<cfset P_DATEFIN2["name"]="P_DATEFIN2">
		<cfset P_DATEFIN2["values"]=[accueilInfos["DATEFIN2"]]>
		<cfset P_DATEFIN2["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_DATEFIN2>
		<cfset i=i+1>
		<cfset P_DATEDEB3=structNew()>
		<cfset P_DATEDEB3["name"]="P_DATEDEB3">
		<cfset P_DATEDEB3["values"]=[accueilInfos["DATEDEB3"]]>
		<cfset P_DATEDEB3["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_DATEDEB3>
		<cfset i=i+1>
		<cfset P_DATEFIN3=structNew()>
		<cfset P_DATEFIN3["name"]="P_DATEFIN3">
		<cfset P_DATEFIN3["values"]=[accueilInfos["DATEFIN3"]]>
		<cfset P_DATEFIN3["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_DATEFIN3>
		<cfset i=i+1>
		<cfset P_CATEGORIE_GP=structNew()>
		<cfset P_CATEGORIE_GP["name"]="P_CATEGORIE_GP">
		<cfset P_CATEGORIE_GP["values"]=[accueilInfos["CATEGORIE_GP"]]>
		<cfset P_CATEGORIE_GP["multiValuesAllowed"]=FALSE>
		<cfset arrayOfParamNameValues[i]=P_CATEGORIE_GP>
		
		<cfset accueilReportInfos["ARRAY_OF_PARAMETERS"]=arrayOfParamNameValues>
		<cfreturn accueilReportInfos>
	</cffunction>
</cfcomponent>
