<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Mytem360 - [TEST]</title>
  <meta name="description" content="Mytem360">
  <meta name="author" content="saaswedo">


  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="screen" type="text/css" href="./css.css" />
  <style>
    
  </style>
   
</head>

<body onload="">


<form action="relay.cfm" method="post" id="theForm" name="theForm"  >
   <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required/>
    </div>
    <div>
        <label for="job">Job :</label>
        <select  id="job" name="job" required>
            <option value="DIR.MAG">DIR.MAG</option>
            <option value="ORG.SEC.MAG">ORG.SEC.MAG</option>
            <option value="ING.SI">ING.SI</option>
            <option value="RSP.ENV.SI">RSP.ENV.SI</option>
        </select>
    </div>
    <div>

    <cfquery name="qSite" datasource="ROCOFFRE" >

        SELECT '<option value="'|| REPLACE(p.code_interne, 'FRS','F') || '" >' ||  p.code_interne || ' | '  || sp.nom_site||' - '|| sp.sp_adresse1||'  '||sp.sp_commune || '</option>'
      AS html_code
      FROM POOL_FLOTTE P,SITE_PHYSIQUE SP, pool_site_physique PSP 
      WHERE p.idracine = 5821693
      AND psp.idpool = p.idpool
      AND psp.idsite_physique = sp.idsite_physique
      ORDER BY html_code ASC

    </cfquery>

        <label for="site">code site :</label>
        
          <input  id="site" name="site" list="siteListe" required/>
          <datalist id="siteListe">
            <cfoutput query="qSite">#html_code#</cfoutput>
          </datalist>
        
    </div>
    <div class="button">
        <button type="submit">Connexion</button>
    </div>

</form>


</body>
</html>