<cftry>

<cfparam name="cryptedQS" type="string" >
<cfparam name="_transactionid" type="string" >
<cfparam name="_sp" type="string" >





<cfset dtGMT = GetHTTPTimeString( DateAdd("n", 2, Now()) ) />
<cfheader 	name="Set-Cookie"
          value="cryptedQS=#cryptedQS#;  Expires=#dtGMT#; Path=/; domain=mytem360.com; HttpOnly">
<cfheader 	name="Set-Cookie"
          value="_transactionid=#_transactionid#;  Expires=#dtGMT#; Path=/; domain=mytem360.com; HttpOnly">
<cfheader   name="Set-Cookie"
          value="_sp=#_sp#;  Expires=#dtGMT#; Path=/; domain=mytem360.com; HttpOnly">

<cfset algo = 'AES'>
<cfset encoding = 'HEX'>
<cflog text="SSO IDP : What #cryptedQS#">
<cflog text="SSO IDP : What #_transactionid#">

<cfset response = DeserializeJSON(decrypt(cryptedQS,urldecode(_transactionid),algo, encoding))>


<cfif !StructKeyExists(response,"valid") or !(CompareNoCase(trim(response['valid']),'YES') eq 0) >
  <cfheader name="Set-Cookie"
            value="cryptedQS=#cryptedQS#;  Expires=Thu, 01 Jan 1970 00:00:00 GMT; Path=/; domain=mytem360.com; HttpOnly">
  <cfheader name="Set-Cookie"
            value="_transactionid=#_transactionid#;  Expires=Thu, 01 Jan 1970 00:00:00 GMT; domain=mytem360.com; Path=/; HttpOnly">
  <cfheader name="Set-Cookie"
            value="_sp=#_sp#;  Expires=Thu, 01 Jan 1970 00:00:00 GMT; Path=/; domain=mytem360.com; HttpOnly">

  <!--- go To Mytem360 --->
    <cfset showRedError("Vous n'êtes pas autorisé à accéder à cette page ! ","")>  
  <cflog text = "Echec de connexion reponse non valide (#response#)"  file = "saml-decathlon" type = "INFO">

</cfif>

<!---
<cfset remoteUser.OrderTypeList = '6910,6060,6059,8009,7009'>

6058  TEST
6059  Ajout
6060  Remplacement sur casse ou perte
6910  Migration
7009  Suppression
8009  Modification
8309  Poste fixe Acceuil + Extension touches (5380) C/R
8359  Carte SIM vierge
10874 Fourniture

--->
<!--- 
<cfset remoteUser.OrderTypeList = '6060,6059,8009,7009,10874'>
test DEMO _CONSOTEL
<cfset remoteUser = {}>

<cfset remoteUser.mail = 'samuel.divioka@saaswedo.net'>
<cfset remoteUser.firstname = 'samuel'>
<cfset remoteUser.lastname = 'divioka'>
<cfset remoteUser.idracine = 2458788>
<cfset remoteUser.site = 'FRS000RECETTE'>
<cfset remoteUser.role = 'DIR.MAG'>
<cfset remoteUser.job = 'DIR.MAG'>
<cfset remoteUser.PoolProfil = 601>
<cfset remoteUser.InventoryProfil = 18>
<cfset remoteUser.idprovider = 10083>
<cfset remoteUser.carrierId = 190 >
--->

<!--- test DECATHLON2_ IT
<cfset remoteUser = {}>
<cfset remoteUser.mail = 'samuel.divioka@saaswedo.bizz'>
<cfset remoteUser.firstname = 'samuel'>
<cfset remoteUser.lastname = 'divioka'>
<cfset remoteUser.idracine = 6149989>
<cfset remoteUser.site = 'S82ANTIBES'>
<cfset remoteUser.role = 'IT'>
<cfset remoteUser.job = 'IT'>
<cfset remoteUser.PoolProfil = 21708>
<cfset remoteUser.InventoryProfil = 1703>
<cfset remoteUser.idprovider = 32284>
<cfset remoteUser.carrierId = 2195 >
<cfset remoteUser.OrderTypeList = '7211,7222,7210,7234'>
--->

<!--- test DECATHLON2_ DIR.MAG 
<cfset remoteUser = {}>
<cfset remoteUser.mail = 'samuel.divioka@saaswedo.uk'>
<cfset remoteUser.firstname = 'samuel'>
<cfset remoteUser.lastname = 'divioka - uk'>
<cfset remoteUser.idracine = 6149989>
<cfset remoteUser.site = 'S82ANTIBESj'>
<cfset remoteUser.role = 'ND'>
<cfset remoteUser.job = 'DIR.MAG'>
<cfset remoteUser.PoolProfil = 21708>
<cfset remoteUser.InventoryProfil = 1703>
<cfset remoteUser.idprovider = 32284>
<cfset remoteUser.carrierId = 2195 >
<cfset remoteUser.OrderTypeList = '7211,7222,7210,7234'>
--->


<!---Debut Acces aux modules --->
<!---
M111 =108 Gestion de parc
M16 = 51 Commande
M61 = 102 container
M22 = 14  Orga
M21 = 13  Administartion
M511 = 151 Acceuil
M331B = 453 Rapport360
M36   = 107 liste des factures
M311  = 105 TBD
--->

<!--- CHECK IF USER EXISTS --->
<cfscript>
__VALID_RESPONSE__ ="YES";
__USER_UNKNOWN___  = -4;
__VALID_ISSUER___  = "idpdecathlon.preprod.org";
__VALID_TIME_INTERVAL__ = 120;//seconde



mytemUser = {};

//make somme checks
if(!structkeyexists(response,"VALID") or 
  !(compareNocase(trim(response.valid),__VALID_RESPONSE__) eq 0) ) {
    message = "Invalid Response : #serializeJSON(response)#";
    writeLog(message);
    throw(message);
}


if(!structkeyexists(response,"ISSUER") or
    !comparenocase(trim(response.issuer),__VALID_ISSUER___) eq 0){
    message = "Invalid issuer : #serializeJSON(response)#";
    writeLog(message);
    throw(message);
}


if(!structkeyexists(response,"RTIME") ){
      message = "Invalid time property : #serializeJSON(response)#";
      writeLog(message);
      throw(message);
}


if(structkeyexists(response,"RTIME")){
    limitTime = dateAdd("s", __VALID_TIME_INTERVAL__, response.RTIME);
    x=dateCompare(limitTime, now());
    if(x lt 0){
      message = "Invalid time : #serializeJSON(response)#";
      writeLog(message);
      throw(message);
    }
}
//


remoteUser = response.user;
//add specifics properties from reponse to user
// --- DECATHLON SPIE --->
remoteUser.site = len(trim(response.SITE)) gt 0 ? trim(response.SITE) : '__N/D';
remoteUser._site  = 'FRS#RemoveChars(remoteUser.site, 1, 1)#';
remoteUser.role = trim(response.ROLE);
remoteUser.job = trim(response.JOB);
remoteUser.idracine = 5821693; // --- DECATHLON SPIE --->

updateUser = UpdateMytemUser(remoteUser);
if(updateUser lt 0){
  if(updateUser eq __USER_UNKNOWN___){
    createUser = CreateMytemUser(remoteUser);
  }else{
      message = "Invalid User : #serializeJSON(response)# error #updateUser#";
      writeLog(message);
      throw(message);
    }
}
</cfscript>



<!--- go To Mytem360 --->
<cfset goToMytem360()>




<cfcatch type="ANY">
<cfoutput>
<!DOCTYPE html>
<html>
  <head>
    <title>Mytem360</title>
  </head>
  <body>
    <cflog text="#serializeJSON(cfcatch)#">
    <cfset showRedError("Vous n'êtes pas autorisé à accéder à cette page ! ","")>
  </body>
</html>
</cfoutput>
</cfcatch>
</cftry>







<cffunction name = "goToMytem360" returnType = "void"  access = "private" description = "redirection" output="true">
  <cfheader
        statuscode="302"
        />

  <cfheader
    name="location"
    value="https://go.mytem360.com?cc=6"
  />

  <cfabort>
</cffunction>



<cffunction name = "showError" returnType = "void"  access = "private" description = "show error page" output="true">
    <cfargument name="message" type="string" required="false" default="">
  <cfoutput>
    <!DOCTYPE html>
    <html>
      <head>
        <title>Mytem360</title>
      </head>
    <body>
    Les droits qui sont affectés à l'utilisateur #remoteUser.mail# ne lui permettent pas de se connecter et d'accéder à l'outil
    <a href="https://api.saaswedo.com/LAB/auth/decathlon/index.cfm">Retour à la page de login</a>

    </body>
  </html>
  </cfoutput>

  <cflog text="Erreur lors de la connexion de l'utilisateur : #remoteUser.mail# pour le site : #remoteUser._site# et le métier #remoteUser.job# | #message#" >

  <cfabort>
</cffunction>

<cffunction name = "showRedError" returnType = "void"  access = "private" description = "show error page" output="true">
  <cfargument name="message" type="string" required="false" default="">
  <cfargument name="redMessage" type="string" required="false" default="">
  <cfoutput>
    <p style="color:##000000;"><strong>#message#</strong></p>   
    <p style="color:##FF0000;"><strong>#redMessage#</strong></p>   
    <a href="https://api.saaswedo.com/LAB/auth/decathlon/index.cfm">Retour à la page de login</a>
  </cfoutput>
  <cfabort>
</cffunction>


<cffunction name = "getModuleForJob" returnType = "string"  
	access = "private" description = "liste des module en fonction du job" output="false">
	<cfargument name="job" type="string" required="true">

	<cfset LOCAL = {}>
	<cfset LOCAL.ITlist = '51,108,151,105,102,453'>
	<cfset LOCAL.DIRMAGlist = '151,108,51'>
	<cfset LOCAL.Modulelist =''>

	<cfif (CompareNoCase(trim(arguments.job), "ING.SI") eq 0) or 
	  (CompareNoCase(trim(arguments.job), "RSP.ENV.SI") eq 0)>
	    <cfset LOCAL.Modulelist = LOCAL.ITlist>
	<cfelseif (CompareNoCase(trim(arguments.job), "DIR.MAG") eq 0) or 
	(CompareNoCase(trim(arguments.job), "ORG.SEC.MAG") eq 0)>
	    <cfset LOCAL.Modulelist = LOCAL.DIRMAGlist>
	</cfif>
	<cfreturn LOCAL.Modulelist>
</cffunction>

<cffunction name = "UpdateMytemUser" returnType = "any"  access = "public" >
  <cfargument name="remoteUser" type="struct" required="true">
    <cfset LOCAL = {}>
    <cfset LOCAL.user = arguments.remoteUser>
    <cfset LOCAL.moduleListe = getModuleForJob(LOCAL.user.job)>

<!---
  	proc pkg_cv_global updateLoginSaml2(p_loginid IN INTEGER,p_idracine IN INTEGER,p_code_site IN VARCHAR2,p_job IN VARCHAR2,p_liste_module IN VARCHAR2,p_retour OUT INTEGER)
     
     1: Réussi
    -1: Erreur
    -2: Code job pas dans la liste
    -3: Erreur Oracle autre
    -4: Login inéxistant
    -5: Login non abonné à la racine
--->


    <cfstoredproc datasource="ROCOFFRE" procedure="pkg_cv_global.updateLoginSaml2">
      <cfprocparam type="in" value="#trim(LOCAL.user.mail)#"            variable="p_app_login"    cfsqltype="CF_SQL_VARCHAR">
      <cfprocparam type="in" value="#trim(val(LOCAL.user.idracine))#"   variable="p_idracine"     cfsqltype="CF_SQL_INTEGER">
      <cfprocparam type="in" value="#trim(LOCAL.user.site)#"            variable="p_code_site"    cfsqltype="CF_SQL_VARCHAR">
      <cfprocparam type="in" value="#trim(LOCAL.user.job)#"             variable="p_job"          cfsqltype="CF_SQL_VARCHAR">
      <cfprocparam type="in" value="#trim(LOCAL.moduleListe)#"          variable="p_liste_module" cfsqltype="CF_SQL_VARCHAR">
 	  <cfprocparam type="out" variable="p_retour" cfsqltype="CF_SQL_INTEGER"> 
   	</cfstoredproc>

     
    <cfreturn p_retour>
</cffunction>


<cffunction name = "CreateMytemUser" returnType = "any"  access = "public" >
  <cfargument name="remoteUser" type="struct" required="true">
  
  <cfset LOCAL = {}>
  <cfset LOCAL.user = arguments.remoteUser>
  <cfset LOCAL.moduleListe = getModuleForJob(LOCAL.user.job)>
   
  <!---
    
    pkg_cv_global createUserSaml2(
    p_nom IN VARCHAR2,
    p_prenom IN VARCHAR2,
    p_email IN VARCHAR2,
    p_idracine IN INTEGER,
    p_liste_module IN VARCHAR2,
    p_code_site IN VARCHAR2,
    p_jobname IN varchar2,
    p_retour OUT INTEGER)

  --->
    
  <cfstoredproc datasource="ROCOFFRE" procedure="pkg_cv_global.createUserSaml2">
    <cfprocparam type="in" value="#trim(LOCAL.user.lastname)#"        variable="p_nom"    cfsqltype="CF_SQL_VARCHAR">
    <cfprocparam type="in" value="#trim(LOCAL.user.firstname)#"       variable="p_prenom"       cfsqltype="CF_SQL_VARCHAR">
    <cfprocparam type="in" value="#trim(LOCAL.user.mail)#"            variable="p_app_login"    cfsqltype="CF_SQL_VARCHAR">

    <cfprocparam type="in" value="#trim(val(LOCAL.user.idracine))#"   variable="p_idracine"     cfsqltype="CF_SQL_INTEGER">
    <cfprocparam type="in" value="#trim(LOCAL.moduleListe)#"          variable="p_liste_module" cfsqltype="CF_SQL_VARCHAR">
    <cfprocparam type="in" value="#trim(LOCAL.user.site)#"            variable="p_code_site"    cfsqltype="CF_SQL_VARCHAR">
    <cfprocparam type="in" value="#trim(LOCAL.user.job)#"             variable="p_jobname"          cfsqltype="CF_SQL_VARCHAR">
  <cfprocparam type="out" variable="p_retour" cfsqltype="CF_SQL_INTEGER"> 
  </cfstoredproc>

    <cfreturn LOCAL.user>

</cffunction>
