<head>
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/main_2.css" rel="stylesheet" type="text/css">
	<title>ConsoView</title>
</head>

<cfparam name="form.id" default="0">
<!--- cfparam name="url.ID" default=0 type="numeric" --->
<cfset JournalFactory=createObject("component","fr.consotel.consoview.parametres.perimetres.export.ExportLignesCreator")>
<cfset Journal=JournalFactory.createJournal(form.JOURNAL,form.FORMAT)>
<cfset Journal.afficher(form.PERIMETRE_LIBELLE,form.JOURNAL_LIBELLE)> 