 <cfcomponent name="fr.consotel.consoview.M331.RapportIP_Mobile"> 
	<cfset VARIABLES["reportServiceClass"]="fr.consotel.consoview.api.ibis.publisher.service.developer.DeveloperReportService">
	<cfset VARIABLES["containerServiceClass"]="fr.consotel.consoview.api.container.ApiContainerV1">
	<cfset VARIABLES["XDO"]="/consoview/M332/INV-LIGNES-M-N/INV-LIGNES-M-N.xdo">
	<cfset VARIABLES["CODE_RAPPORT"]="IL_Mobile">
	<cfset VARIABLES["TEMPLATE"]="IL_M">
	<cfset VARIABLES["OUTPUT"]="Inventaire des Lignes - Mobile">
	<cfset ApiE0 = CreateObject("component","fr.consotel.consoview.api.E0.ApiE0")>

	<cffunction name="scheduleReport" access="remote" returnType="numeric">
		<cfargument name="PARAM_ARRAY" type="array" required="true">
		
		<cfset MODULE=PARAM_ARRAY[1]>
		<cfset FORMAT=PARAM_ARRAY[2]>
		<cfset EXT=PARAM_ARRAY[3]>
		<cfset G_IDPERIMETRE=PARAM_ARRAY[4]>
		<cfset DATE=PARAM_ARRAY[5]>
		<cfset LBLNOEUD = PARAM_ARRAY[6]>
		<cfset LBLPERIMETRE = ApiE0.getLibellePerimetre(G_IDPERIMETRE)>
		
		<cflog text="************ RAPPORT : #VARIABLES['OUTPUT']#">

		<cfset containerService	= createObject("component",VARIABLES["containerServiceClass"])>
	<!--- CREATION D'UNE INSTANCE DE L'API REPORTSERVICECLASS --->
		<cfset reportService=createObject("component",VARIABLES["reportServiceClass"])>
	<!--- CREATION D'UNE INSTANCE DE L'API EO --->
		<cfset ApiE0 = CreateObject("component","fr.consotel.consoview.api.E0.ApiE0")>
<!--- 1) INITIALISATION DU RAPPORT --->	
		<cfif isDefined("SESSION.PERIMETRE")>
			<cfset initStatus=reportService.init(SESSION.PERIMETRE["ID_GROUPE"],VARIABLES["XDO"],"ConsoView",MODULE,VARIABLES["CODE_RAPPORT"])>
			<cfif initStatus EQ TRUE>
				<cfset setStatus=TRUE>
	<!--- 2) DEFINITION DES PARAMETRES DU RAPPORT --->	
			<!--- IDRACINE_MASTER --->
				<!--- RECUPERE EN SESSION --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset tmpParamValues[1]=SESSION.PERIMETRE["IDRACINE_MASTER"]>
				<cfset setStatus=setStatus AND reportService.setParameter("G_IDMASTER",tmpParamValues)>
			<!--- IDRACINE_MASTER --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset tmpParamValues[1]=SESSION.PERIMETRE["ID_GROUPE"]>
				<cfset setStatus=setStatus AND reportService.setParameter("G_IDRACINE",tmpParamValues)>
			<!--- ID DE L'ORGA --->
				<!--- RECUPERE A PARTIR DE L'APIEO --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset G_IDORGA=ApiE0.getOrga(G_IDPERIMETRE)>
				<cfset tmpParamValues[1]=G_IDORGA>
				<cfset setStatus=setStatus AND reportService.setParameter("G_IDORGA",tmpParamValues)>
			<!--- IDCLICHE : Celui du mois en cours --->
				<!--- RECUPERE A PARTIR DE L'APIEO --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset G_IDCLICHE=ApiE0.getCliche(G_IDORGA)>
				<cfset tmpParamValues[1]=G_IDCLICHE>
				<cfset setStatus=setStatus AND reportService.setParameter("G_IDCLICHE",tmpParamValues)>
			<!--- IDPERIMETRE --->			
				<!--- FOURNI PAR L'IHM --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset tmpParamValues[1]=G_IDPERIMETRE>
				<cfset setStatus=setStatus AND reportService.setParameter("G_IDPERIMETRE",tmpParamValues)>
			<!--- U_IDPERIOD_DEB et FIN--->
				<!--- RECUPERE A PARTIR DE L'APIEO --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset U_IDPERIOD_DEB = ApiE0.getIdPeriodeMois(DATE)>
				<cfset tmpParamValues[1]=U_IDPERIOD_DEB>
				<cfset setStatus=setStatus AND reportService.setParameter("U_IDPERIOD_DEB",tmpParamValues)>
				<cfset setStatus=setStatus AND reportService.setParameter("U_IDPERIOD_FIN",tmpParamValues)>
			<!--- G_NIVEAU --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset G_NIVEAU = ApiE0.getNiveauOrga_V2(G_IDPERIMETRE)>
				<cfset tmpParamValues[1]=G_NIVEAU>
				<cfset setStatus=setStatus AND reportService.setParameter("G_NIVEAU",tmpParamValues)>
			<!--- G_LANGUE_PAYS --->
				<cfset tmpParamValues=arrayNew(1)>
				<cfset tmpParamValues[1]= session.user.globalization>
				<cfset setStatus=setStatus AND reportService.setParameter("G_LANGUE_PAYS",tmpParamValues)>
			<!--- X_INCLUDE_CSV_HEADER  --->	
				<cfset tmpParamValues=arrayNew(1)>
				<cfif ucase(FORMAT) eq "CSV">
					<cfset tmpParamValues[1]=1>
					<cflog text="************ X_INCLUDE_CSV_HEADER = 1">
				<cfelse>
					<cfset tmpParamValues[1]=0>
					<cflog text="************ X_INCLUDE_CSV_HEADER = 0">
				</cfif>
				<cfset setStatus=setStatus AND reportService.setParameter("X_INCLUDE_CSV_HEADER",tmpParamValues)>		

			<cflog text="*************************** idracine_master : #SESSION.PERIMETRE['IDRACINE_MASTER']#">
			<cflog text="*************************** idracine : #SESSION.PERIMETRE['ID_GROUPE']#">
			<cflog text="*************************** idperimetre : #G_IDPERIMETRE#">
			<cflog text="*************************** idorga : #G_IDORGA#">
			<cflog text="*************************** idcliche : #G_IDCLICHE#">
			<cflog text="*************************** u_idperiod_deb : #U_IDPERIOD_DEB#">
			<cflog text="*************************** u_idperiod_fin : #U_IDPERIOD_DEB#">			
			<cflog text="*************************** g_langue_pays : #session.user.globalization#">
			<cflog text="*************************** g_niveau : #G_NIVEAU#">


				<cfif setStatus EQ TRUE>
	<!--- 3) DEFINITION DES PARAMETRES D'OUTPUT DU RAPPORT --->
				<!--- PARAMETRES FOURNIS PAR L'IHM  : FORMAT, EXT, OUTPUT --->
				<!--- PARAMETRES FOURNIS PAR LE CFC : CODE_RAPPORT --->
					<cfset outputStatus=reportService.setOutput(VARIABLES["TEMPLATE"],FORMAT,EXT,"#lsDateFormat(DATE,'MM-YYYY')# #VARIABLES['OUTPUT']# - #LBLNOEUD#",VARIABLES["CODE_RAPPORT"])>
					<cfif outputStatus EQ TRUE>
						<cfset reportStatus = reportService.runTask(SESSION.USER["CLIENTACCESSID"])>
						<cflog text="************ reportStatus.JOBID = #reportStatus['JOBID']#">
						<cflog text="************ reportStatus.UUID  = #reportStatus['UUID']#">
						<cfif reportStatus['JOBID'] neq -1>
							<cfset containerService.ADDparamclient(reportStatus['UUID'],"String","Période d'étude",lsDateFormat(DATE,'MM/YYYY'))>				
							<cfset containerService.ADDparamclient(reportStatus['UUID'],"String","Périmètre d'étude",LBLPERIMETRE)>	
							<cfreturn reportStatus["JOBID"]>
						</cfif>
					</cfif>
				</cfif>
			</cfif>
		<cfelse>
			<cflog text="Session.perimetre undefined">
		</cfif>
		<cfreturn -1>
	</cffunction>
</cfcomponent>
