<cfparam name="cryptedQS" type="string" >
<cfparam name="_transactionid" type="string" >


<cfheader 	name="Set-Cookie"
      		value="cryptedQS=#cryptedQS#;  Expires=2045-10-10T09:43:47.000Z; Path=/; HttpOnly">
<cfheader 	name="Set-Cookie"
      		value="_transactionid=#_transactionid#;  Expires=2045-10-10T09:43:47.000Z; Path=/; HttpOnly">
<cfheader
    statuscode="302"
    />



<!--- Redirect user to next page. --->
<cfheader
    name="location"
    value="https://go.mytem360.com/o.html?cc=6"
    />

<!--- Redirect user to next page.
<cfheader
    name="location"
    value="http://mytem-dev.local/mytem.html?cc=6"
    />
--->
