<!---
<cfset phoneNumber="+33662797943"><!--- 33669737631 "+32496638665"  33628756610 --->
<cfset body="Bonjour,test ">

<cfset newApiSmsPublic = createObject("component","fr.consotel.api.sms.public.ApiSmsPublic") >
<cfset uuidSMS=newApiSmsPublic.createCampagne() >
<cfset operator=newApiSmsPublic.SFR_OPERATOR()>

<cfif  IsDefined ("uuidSMS") and uuidSMS neq "" >
	<cfset returnSend=newApiSmsPublic.sendMessageToSingleNumber(phoneNumber,body,operator,uuidSMS)>
	<cfif returnSend eq true>
		<p style="background-color:#093; font-size:24px" align="center">Votre SMS a été bien envoyé avec SFR </p>
	<cfelse>
		<!--- envoyer avec twillio --->
		<cfset uuidSMS=newApiSmsPublic.createCampagne() >
		<cfset operator=newApiSmsPublic.TWILIO_OPERATOR()>
		<cfif  IsDefined ("uuidSMS") and uuidSMS neq "" >
			<cfset returnSend=newApiSmsPublic.sendMessageToSingleNumber(phoneNumber,body,operator,uuidSMS)>
			<cfif returnSend eq true>
				<p style="background-color:#093; font-size:24px" align="center">Votre SMS a été bien envoyé avec Twillio</p>
			</cfif>
		</cfif>
	</cfif>
</cfif>

<cfabort> --->

<!--- pour tester les methodes permettant de mettre à jour les status des sms  --->
<!--- <cfset updateStats = createObject("component","fr.consotel.api.sms.UpdateStatSMS") >

<cfset ttt=updateStats.getSfrMessage()/>

<cfabort> --->

<!--- creation de l'objet --->

<cfset newApiSmsPublic = createObject("component","fr.consotel.api.sms.public.ApiSmsPublic") >

<cfset uuid=newApiSmsPublic.createCampagne("555555555") > <!--- 555555555 juste pour tester  --->

<!--- <cfset phoneNumber=arraynew(1)>

<cfset phoneNumber[1]="+33628756610">
<cfset phoneNumber[2]="+33662797943"> ---><!--- +33628756610 --->

<cfset phoneNumber="+33662797943"><!--- 33669737631 "+32496638665"  33628756610 --->
<cfset contentSms="Bonjour,test FTP methode WS">


<!--- <cfset contentSms=arraynew(1)>

<cfset contentSms[1]="+++Voici votre login et mot de passe SFR FTP  methode 3  avec 2 message">
<cfset contentSms[2]="---L'URL est http://saaswedoteam.com  SFR  FTP methode 3  avec 2 message"> --->


<!--- <cfset tabSMSNumber = [] />
<cfset tabSMSNumber[ 1 ] = { phoneNumber="+33662797943",contentSms ="++++test1 SFR FTP- methode 4 avec 2 num et 2 message" } />
<cfset tabSMSNumber[ 2 ] = { phoneNumber="+33669737631",contentSms ="---Bonjour M.DIVIOKA test1 SFR FT- methode 4 avec 2 num et 2 message " } /> --->


<!--- <cfset t= tabSMSNumber[ 1 ]['phoneNumber']>
<cfoutput>#t#</cfoutput>
<cfoutput><cfdump var="#tabSMSNumber#"></cfoutput>
<cfabort> --->


<!--- -------------------------------------------------------------------------------------------------------- --->

 <!--- <cfset newApiSmsPublic = createObject("component","fr.consotel.api.sms.public.ApiSmsPublic") > --->
<!--- <cfset uuid="BAB40DB4-B295-2004-AF5E1AEDF6D95710">
<cfset x=newApiSmsPublic.stateByStatut('Reçu',uuid) > --->

<!--- -------------------------------------------------------------------------------------------------------- --->

<!--- <cfinvoke webservice="http://sun-dev-samuel/backoffice/fr/consotel/api/sms/public/ApiSmsPublic.cfc?WSDL"
		  method="createCampagne" returnvariable="uuid">
</cfinvoke> --->

<!--- <cfset contentSms="http://sun-dev-nicolas.consotel.fr/index.cfm?uuid=0123&cle=17&sam=1">

<cfset test=URLDecode(contentSms) /> ---><!--- permet de remplacer %26 par & and %60 par ' etc  --->


<!--- si l'opertateur est SFR on peux envoyer les SMS avec FTP ou web service et pour cela il faut appeler une des ces methodes  soit  FTP_MODE() ou WS_MODE()  --->

<cfset newApiSmsPublic.set_mode(newApiSmsPublic.WS_MODE())>

<!---  Les opérateurs utilisés pour l’envoi des messages  sont SFR , Orange & Twilio , il faut appeler soit SFR_OPERATOR(),ORANGE_OPERATOR(),TWILIO_OPERATOR()  --->

<cfset operator=newApiSmsPublic.SFR_OPERATOR()>

<cfset delay="1000">

<cfif  IsDefined ("uuid") and uuid neq "" >

<!--- 	  <cfinvoke webservice="http://sun-dev-samuel/fr/backoffice/consotel/api/sms/public/ApiSmsPublic.cfc?WSDL" refreshwsdl="true" method="sendMessageToSingleNumber" returnvariable="returnSend">
		<cfinvokeargument name="phoneNumber" value="#phoneNumber#">
		<cfinvokeargument name="contentSms" value="#contentSms#">
		<cfinvokeargument name="operator" value="#operator#">
		<cfinvokeargument name="uuid" value="#uuid#">
	</cfinvoke>  --->


<cfset returnSend=newApiSmsPublic.sendMessageToSingleNumber(phoneNumber,contentSms,operator,uuid)><!--- si SFR,utiliser WS de préférence --->

<!--- <cfset returnSend=newApiSmsPublic.sendMessagetoMultipleNumber(phonenumber,contentsms,operator,uuid)> --->

<!--- <cfset returnSend=newApiSmsPublic.sendMultipleMessageToSingleNumber(phoneNumber,contentSms,operator,delay,uuid)> ---> <!--- si SFR,utiliser WS de préférence --->

<!--- <cfset returnSend=newApiSmsPublic.sendMultipleMessageToMultipleNumber(tabSMSNumber,operator,uuid)> ---><!--- si SFR,utiliser FTP de préférence --->


<cfif returnSend eq true>
	<p style="background-color:#093; font-size:24px" align="center">Your SMS sent</p>
</cfif>

</cfif>