<cfflush interval="10">
<cfset prefix = "[CloseConnections] ">

<cfset admin = "">
<cfset authStatus = "">
<cfset datasourceObj = "">
<cfset dsn = URL.DSN>
<cfset datasourceArgs = "">

<cfset admin = createObject("component","cfide.adminapi.administrator")>

<cflog application="true" text="#prefix#Tentative de Connexion ..........................................">

<cfoutput>
Tentative de Connexion .....<br>
</cfoutput>

<cfset authStatus = admin.login("coldfusion")>
<cfif authStatus neq true>
	
	<cflog application="true" text="#prefix#Connexion impossible fin du traitement .................................">
	<cfelse>
	<cflog application="true" text="#prefix#Connexion Admin OK">
	<cfoutput>
		Connexion Admin OK ....<br>
	</cfoutput>
	
	
	<cfset  datasourceObj = createObject("component","cfide.adminapi.datasource")>		
	<cftry>	
		<cfset  datasourceArgs = datasourceObj.GETDATASOURCES(dsn)>		
		
		<cfcatch>
			<cflog application="true" text="#prefix#Le dsn #dsn# est inconnu. Fin de traitement.">
			<cfoutput>
				Le dsn #dsn# est inconnu. Fin de traitement.<br>
			</cfoutput>
			<cfset  admin.logout()>
			<cflog application="true" text="#prefix#Déconnexion Admin 2.">
			<cfoutput>
			Déconnexion Admin 2.<br>
			</cfoutput>
			<cfabort>
		</cfcatch>
	</cftry> 	
	
	<cfoutput>
		Les connections sont-elles désactivées sur le dsn #dsn#? #datasourceArgs["disable"]#<br>
	</cfoutput>	
	
	<cfif #datasourceArgs["disable"]#>
		<cflog application="true" text="#prefix#Les connexions sont déjà inactives ......">
		<cfoutput>
			Les connexions sont déjà inactives.......<br>
		</cfoutput>
	<cfelse>
		<cflog application="true" text="#prefix#Les connexions sont actives ...................................">
		<cfoutput>
			Les connexions sont actives............<br>
		</cfoutput>
		<cflog application="true" text="#prefix#Désactivation des connexions sur #dsn#  ..............................................">
		<cfoutput>
			Désactivation des connexions sur #dsn# ....<br>
		</cfoutput>
		<cfset  datasourceArgs["disable"] = true>
		<cfset  datasourceObj.setOther(argumentCollection=datasourceArgs)>
		<cfthread action="sleep" duration="#(3 * 1000)#"/>
	
		<cfoutput>
			<p>
			vaut false si les connections sont inactives<br>	
			#datasourceArgs["disable"]# -> Connexions désactivées ....<br>
			</p>
		</cfoutput>	
	</cfif>	
	
	
	<cfif !#datasourceArgs["disable"]#>
		<cflog application="true" text="#prefix#Les connexions sont déjà actives. Fin de traitement.">
		<cfoutput>
			Les connexions sont déjà actives. Fin de traitement.<br>
		</cfoutput>
		<cfset  admin.logout()>
		<cflog application="true" text="#prefix#Déconnexion Admin 4.">
		<cfoutput>
		Déconnexion Admin 4.<br>
		</cfoutput>
		<cfabort>	
	<cfelse>
		<cflog application="true" text="#prefix#Activation des connexions sur #dsn# ..............................................">
		<cfoutput>
			Activation des connexions sur #dsn# ....<br>
		</cfoutput>
		<cfset  datasourceArgs["disable"] = false>		
		<cfset  datasourceObj.setOther(argumentCollection=datasourceArgs)>
		<cfoutput>
		<p>
		vaut false si les connections sont actives<br>
		#datasourceArgs["disable"]# -> Connexions Activées ....<br>
		</p>
		</cfoutput>	
	</cfif>

	
	<cfset  admin.logout()>
	<cflog application="true" text="#prefix#Déconnexion 1.">
	<cfoutput>
	Déconnexion Admin 1.<br>
	</cfoutput>
	
</cfif>



<!--- 

<cfset admin = createObject("component","cfide.adminapi.administrator")>
<cfset authStatus = admin.login("coldfusion")>
<cfset  datasourceArgs = datasources.GETDATASOURCES("offresun")>
<cfdump var="#datasourceArgs#">
<cfset  update = datasources.setOther(argumentCollection=datasourceArgs)>
<cfset  authStatus = admin.logout()>
 

 --->

  