<cfset SESSION.OffreDSN="ROCOFFRE">
<cfobject component="fr.consotel.consoview.access.AccessManager" type="component" name="obj">
<cfset v=obj.validateLogin("brice.miramont@consotel.fr","etampes")>
<cfset t=obj.connectOnGroup(641,310812)>
<cfobject component="fr.consotel.consoview.tb.accueil.facade" type="component" name="obj2">
<cfset u=obj2.init("Groupe","Complet",310812,"01/12/2008","31/01/2009","Complet")>
<cfset v=obj2.getSurThemeAbos()>