<cfset cfcAppTracker = createObject("component","fr.consotel.tracking.CvApplicationTracker")>
<cfset sessionObj = cfcAppTracker.getSessionsByKey(FORM.APPLICATION_KEY,FORM.SESSION_KEY)>
<cfdump var="#sessionObj#" expand="false">
