/* CSS file */
Application{
	backgroundColor: #68808c;
	backgroundGradientColors: #68808c, #68808c;
	themeColor: #999966;
	color: #000000;
}

ApplicationControlBar{ 
	backgroundColor: #f2f2f2; 	
}

Panel{	
	borderAlpha: 0.70;
   	borderColor: #ff8000;
	color: #000000;
	backgroundColor: #f2f2f2;
	headerColors: #ff8000, #ff8000;
 	titleStyleName: "myTitleStyle";
 	borderStyle: solid;
} 
LinkBar { 
	
   horizontalGap: 13;
   borderStyle: none;
   separatorColor: #c4cccc;
   rollOverColor: #c4cccc;
   selectionColor: #999999;
   color: #006600;
   textRollOverColor: #006600;
   textSelectedColor: #006600;
   disabledColor: #ff8000;
}

TextInput { 
   borderStyle: solid;
   cornerRadius: 8;
   textIndent: 4;
   themeColor: #999966;
}
DataGrid {
   	rollOverColor: #dddddd;
   	selectionColor: #c4cccc;   
}

Tree{
	rollOverColor: #dddddd;
	selectionColor: #c4cccc;
}

Alert{
	borderAlpha: 0.70;
   	borderColor: #ff8000;
	color: #000000;
	backgroundColor: #f2f2f2;
	headerColors: #ff8000, #ff8000;
 	borderStyle: solid;
}

.roundedCanvas{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myHboxStyled{
	backgroundColor : #ffffff;
	borderStyle :solid;
	cornerRadius : 5;
}

.myTitleStyle {
	fontFamily: Verdana;	
    fontWeight: bold;
    color: #ffffff;
}

.formStyle{
	backgroundColor : #f2f2f2; 
	borderStyle : none;
	cornerRadius : 5;
}	

.formStyle2{
	backgroundColor : #f2f2f2; 
	borderStyle : solid;
	cornerRadius : 5;
}	

.myNormalInputText{	
	cornerRadius: 0;
	textIndent: 1;
}
.onMouseOverInputText{
	backgroundColor : red;
	backgroundAlpha : 0.4;
}

.bonjour{
	color : #FF8000;
}

.consogilles{
	color : #DDDDDD;
}

.erreur {
	fontWeight: bold;
	color : #C40000;
}

.myPieChart{
	dropShadowEnabled : false;
}

.myAxisStyle {
    tickLength: 20;
    tickPlacement: outside;
    minorTickPlacement: outside;
    color : #000000;
}
