/* CSS file */

.M54Border,.M54BorderKpi
{
	borderColor:#c7c7c7;
	borderStyle:solid;
	borderThickness : 1;
	cornerRadius:4;
}

.M54BorderDayIn
{
	borderColor:#3C9EEC;
	borderStyle:solid;
	backgroundColor:#3990CD;
	color:#ffffff;
	borderThickness:1;
}

.M54BorderDayOut
{
	borderColor:#C7C7C7;
	borderThickness:1;
	borderStyle:solid;
	paddingTop:2;
	paddingLeft:2;
	paddingRight:2;
	paddingBottom:2;
	cornerRadius:4;
}

.M54BackGroundKpi
{
	backgroundImage :Embed(source="/assets/HomeGraphical.swf", symbol="boxKpi");
}

.M54BackGroundKpiActif
{
	backgroundImage :Embed(source="/assets/HomeGraphical.swf", symbol="boxKpiNoir");
	
}
.M54HRuleNews
{
	stroke-color:#c7c7c7;
}

.M54TabNavigator 
{
	tabOffset: 100;
	borderStyle: inset;
	borderColor:#ffffff;
	tabStyleName: "myTabsNavigator";
	firstTabStyleName: "myTabsNavigator";
	lastTabStyleName: "myTabsNavigator";
	selectedTabTextStyleName: "mySelectedTabsNavigator";
}

.myTabsNavigator {
	
}

.mySelectedTabsNavigator {
	color: #358dd7;
}

.M54MenuSegmentKpi ,.M54MenuSegmentWidget,.M54SelectorPeriode,.M54MenuChart
{	
	selection-color: #ffffff;
	background-color: #ffffff;
	borderStyle: solid;
	borderColor: #F7F7FF;
	borderThickness:1;
	color:#5F5F61;
	shadowDistance:2;
	dropShadowEnabled:true;
	cornerRadius:3;
}

.M54VboxTheme
{
	borderStyle: solid;
	borderColor: #F7F7FF;
	backgroundColor:#FFFFFF;
	borderThickness:1;
	color:#5F5F61;
	shadowDistance:2;
	dropShadowEnabled:true;
	cornerRadius:3;
}

.M54MenuSegmentKpi
{
	textSelectedColor: #219210;
	textRollOverColor: #ffffff;
	roll-over-color: #219210;
}
.M54MenuSegmentWidget
{
	textSelectedColor: #3C9EEC;
	textRollOverColor: #ffffff;
	roll-over-color: #3C9EEC;
}

.M54MenuChart
{
	textSelectedColor: #3C9EEC;
	textRollOverColor: #ffffff;
	roll-over-color: #3C9EEC;
}

.M54AddPopup
{
	borderStyle:solid;
	border-thickness:2;
	borderColor:#535351;
	cornerRadius:6;	
	dropShadowEnabled:false;
	closeButtonSkin :Embed(source="/assets/HomeGraphical.swf", symbol="popupClose");
	/* Set values from defaults.css to null. */
	closeButtonDisabledSkin: ClassReference(null);
	closeButtonDownSkin: ClassReference(null);
	closeButtonOverSkin: ClassReference(null);
	closeButtonUpSkin: ClassReference(null);
}

.M54buttonDoneKpi
{
	disabledSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDone");
	downSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDone");
	overSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDone");
	upSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDone");
	color:#FFFFFF;
	fontSize:11;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
	borderStyle:none;
}

.M54buttonDoneWidget
{
	disabledSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDoneBlue");
	downSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDoneBlue");
	overSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDoneBlue");
	upSkin: Embed(source="/assets/HomeGraphical.swf", symbol="buttonDoneBlue");
	color:#FFFFFF;
	fontSize:11;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
	borderStyle:none;
}

.M54buttonRadio
{
	upIcon: Embed(source="/assets/HomeGraphical.swf", symbol="popupRadio");
	overIcon: Embed(source="/assets/HomeGraphical.swf", symbol="popupRadio");
	downIcon: Embed(source="/assets/HomeGraphical.swf", symbol="popupRadio");
	disabledIcon :Embed(source="/assets/HomeGraphical.swf", symbol="popupRadio");
	
	selectedUpIcon: Embed(source="/assets/HomeGraphical.swf", symbol="popupRadioActif");
	selectedOverIcon: Embed(source="/assets/HomeGraphical.swf", symbol="popupRadioActif");
	selectedDownIcon: Embed(source="/assets/HomeGraphical.swf", symbol="popupRadioActif");
	fontWeight:bold;
	color:#535351;
}
.M54TileList
{
	textRollOverColor:#535351;
	textSelectedColor :#535351;
	rollOverColor:#F9F9F9;
	selectionColor:#F9F9F9;
}
.M54Panel
{
	padding-top : 10px;
	padding-left: 5px;
	padding-right: 5px;

	rounded-bottom-corners: true;
	border-thickness: 1px;
	border-style: solid;
	border-color: #D3D6D8;
	background-color: #ffffff;
	corner-radius: 6px;
	header-height: 31px;
	dropShadowEnabled:false;
	titleBackgroundSkin:Embed(source="/assets/widgetTop.png");
}

.M54PanelEmpty
{
	padding-top : 10px;
	padding-left: 10px;
	padding-right: 10px;
	verticalAlign:middle;
	horizontalAlign:center;
	border-style: none;
	background-color: #ffffff;
	header-height: 0px;
}

.M54TitlePanel
{
	font-size: 12px;
	color:#5F5F61;
}

.M54PanelNews
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top : 10px;
	rounded-bottom-corners: true;
	border-thickness: 1px;
	border-style: solid;
	border-color: #D3D6D8;
	background-color: #FFFFFF;
	corner-radius: 6px;
	header-height: 31px;
	verticalAlign:middle;
	horizontalAlign:center;
	titleBackgroundSkin:Embed(source="/assets/widgetTop.png");
}

.M54headerPanelVRule
{
	strokeColor:#C3C8CB;
	strokeWidth:1;
}

.M54LabelZoomer
{
	color : #ffffff;
	top:5;
	left:5;
}

.M54LabelSetting
{
	color : #ffffff;
	top:5;
	right:23;
}

.M54LabelSegmentWidget,.M54LabelPeriodeWidget,.M54LabelPeriode
{
	color : #ffffff;
}

.btnValiderPeriode
{
	cornerRadius:2;
	borderColor: #000000;
	borderStyle:solid;
	borderThickness:1;
	fillColors: #36B21E, #36B21E, #36B21E, #36B21E;
}
.M54News
{
	border-thickness: 1px;
	border-style: solid;
	border-color: #D3D6D8;
	background-color: #ffffff;
	corner-radius: 5px;
}
.M54HboxFooterWidget
{
	left:90;
	right:85;
	bottom:5;
	top:5;
	horizontalGap:6;
/*	verticalAlign:middle;*/
}

.slideNews
{
	disabledSkin: Embed(source="/assets/news.png");
	downSkin: Embed(source="/assets/news.png");
	overSkin: Embed(source="/assets/news.png");
	upSkin: Embed(source="/assets/news.png");
	color:#FFFFFF;
	fontSize:11;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
	borderStyle:none;
}