
<cfset x = new AttachmentBuilder() >

<cftry>

	<cfset r = x.execute({idracine=5503190, numCommande="0_D141117004-TEST",idcommande=170287,UUID="4D09B80C-B0A0-B4D4-4AA6CC9ADAB492AB-TEST",idGestionnaire=6956})>
	<cfdump var="#r#">
	<cfcatch>
		<cflog type="error" text="#CFCATCH.Message#">
	
		<cfoutput>#CFCATCH.Message#</cfoutput>
		
	</cfcatch>			
</cftry>

<cfflush interval="100">
<cfabort>
<cfheader name="Content-Disposition" value="attachment;,=#r.name#" charset="utf-8">
<cfcontent type="#r.contentType#" variable="#r.data#">
