<cfobject name="prs" type="component" component="fr.consotel.consoview.M312.pdf.theme.ExportPDF">
<cfset prs.afficherCommandeEnPDF(form.IDCOMMANDE)> 
<cfheader name="Content-Disposition"  value="inline;filename=Commande_#trim(form.NUMERO_COMMANDE)#.pdf">
<cfcontent type="#prs.getRunReportContentType()#" variable="#prs.getRunReportData()#">