/* CSS file */
.PFGPMainPanel
{
	background-alpha:0;
	header-height: 0;
	border-style: none;
}

/* PARTIE CV */
.CVMainPanel2
{
	background-color: #f5f5f5;
	horizontal-align: center;
	vertical-align: middle;
	vertical-gap: 5;
	horizontal-gap:0;
	header-height: 20;
	border-style: solid;
	corner-radius: 5;
	rounded-bottom-corners:true;
	borderColor:#535351;
	shadow-distance:0;
	border-thickness: 1;
	color : #535351;
	borderStyle: solid;
	dropShadowColor: #000000;
	titleStyleName: "PanelTitle2";
}
.CVProgressBar
{
	label-placement: bottom;
	theme-color: #7caf7c;
	vertical-center:0;
	horizontal-center:0;
	borderColor: #F9F9F9;
	borderStyle:none;
}
.CVBtCancel
{
	border-style: solid;
	corner-radius:5;
	letterSpacing: 0;
	color: #535351;
	fontSize: 10;
	fontWeight: bold;
}
.PanelTitle2 
{
	letterSpacing: 0;
	fontSize: 10;
	fontWeight:bold;
	color:#535351;
	backgroundColor: #f5f5f5;
}