<cfset rootPath=expandPath("/")>
<cfheader name="Content-Disposition" value="attachment;filename=#FILE_NAME#" charset="utf-8">	
<cfcontent type="text/plain" file="#rootPath#/fr/consotel/consoview/facturation/suiviFacturation/controles/csv/#FILE_NAME#" deletefile="true">
