<cffile action="Readbinary" file="/container/Liens/PresentationRapportsConsoView.pdf" variable="fileContent"><!--- LE LIEN SERA A MODIFIER --->
<cfheader name="Content-Disposition" value="attachment;filename=PresentationRapportsConsoView.pdf">
<cfcontent type="application/pdf" variable="#fileContent#">